<h2>
  <!-- lang:en -->
  About me
  <!-- /lang:en -->
  <!-- lang:de -->
  Über mich
  <!-- /lang:de -->
</h2>
<p class="lead">
  <!-- lang:en -->
  I am Michel Wehrli, a swiss software engineer.
  <!-- /lang:en -->
  <!-- lang:de -->
  Ich bin Michel Wehrli, ein schweizer Softwareentwickler.
  <!-- /lang:de -->
</p>
<p>
  <a
    href="https://www.linkedin.com/in/michelwehrli/"
    target="_blank"
    rel="noopener"
    class="anchor--blank anchor--linkedin"
    title="To Michel Wehrli's LinkedIn"
  >
    <img
      src="<%= require('../../asset/img/svg/tech/linkedin.svg') %>"
      alt="LinkedIn Logo"
      width="24"
      height="24"
    />
  </a>
  <a
    href="https://github.com/michelwehrli"
    target="_blank"
    rel="noopener"
    class="anchor--blank anchor--github"
    title="To Michel Wehrli's GitHub"
  >
    <img
      src="<%= require('../../asset/img/svg/tech/github.svg') %>"
      alt="Github Logo"
      width="24"
      height="24"
    />
  </a>
</p>
<p class="lead">
  <!-- lang:en -->
  With 10 years of experience in conceptualizing, developing and integrating software, I am your
  ideal partner in realizing your next software product.
  <!-- /lang:en -->
  <!-- lang:de -->
  Mit 10 Jahren Erfahrung in der Konzeption, Entwicklung und Integration von Software bin ich Ihr
  idealer Partner, um Ihr nächstes Softwareprodukt zu verwirklichen.
  <!-- /lang:de -->
</p>
<h3>
  <!-- lang:en -->
  Beginnings and apprenticeship
  <!-- /lang:en -->
  <!-- lang:de -->
  Anfänge und Ausbildung
  <!-- /lang:de -->
</h3>
<p>
  <!-- lang:en -->
  I started my software engineering journey in middle school, where I teached myself the basics of
  programming, operating systems and information technology in general. My first website in basic
  HTML and CSS was created during that time.
  <!-- /lang:en -->
  <!-- lang:de -->
  Ich begann meine Reise in der Softwareentwicklung in der Schule, wo ich mir selbst die Grundlagen
  des Programmierens, von Betriebssystemen und der Informationstechnologie im Allgemeinen
  beibrachte. Meine erste Website in HTML und CSS entstand in dieser Zeit.
  <!-- /lang:de -->
</p>
<p>
  <!-- lang:en -->
  This sparked my fascination for IT and my dedication, to take on a 4 year apprenticeship as a
  computer scientist with specialization in software engineering. Besides a lot of IT basics, I
  learned more about software engineering and programming languages during that time.
  <!-- /lang:en -->
  <!-- lang:de -->
  Das weckte meine Faszination für die IT und hatte mich motiviert, eine vierjährige Ausbildung zum
  Informatiker Fachrichtung Applikationsentwicklung zu absolvieren. Neben vielen IT-Grundlagen
  lernte ich in dieser Zeit auch mehr über Softwarentwicklung und Programmiersprachen.
  <!-- /lang:de -->
</p>
<p>
  <!-- lang:en -->
  My focus while at the office was C#, WPF and YAML. But during my free time I created Websites for
  friends and family with PHP, JavaScript and Wordpress and expanded my knowledge in software
  engineering for the web.
  <!-- /lang:en -->
  <!-- lang:de -->
  Mein Programmier-Fokus während der Lehre bestand aus C#, WPF und YAML. Aber während meiner
  Freizeit baute ich bereits Websites für Freunde und Familie mit PHP, JavaScript und Wordpress. So
  konnte ich mein Wissen in der Webentwicklung früh erweitern.
  <!-- /lang:de -->
</p>
<h3>
  <!-- lang:en -->
  Agency experience
  <!-- /lang:en -->
  <!-- lang:de -->
  Agentur-Erfahrung
  <!-- /lang:de -->
</h3>
<p>
  <!-- lang:en -->
  After my apprenticeship I started a Job at a web agency in Zürich. There I learned more about web
  programming, namely JavaScript, PHP, HTML and CSS, and about conceptualizing and developing
  corporate websites for renowned Swiss companies.
  <!-- /lang:en -->
  <!-- lang:de -->
  Nach meiner Lehre nahm ich einen Job bei einer Webagentur ein Zürich an. Ich lernte mehr übers
  Programmieren, vor allem in JavaScript, PHP, HTML und CSS, und über das Konzipieren und Entwickeln
  von Corporate Websites für bekannte Schweizer Firmen.
  <!-- /lang:de -->
</p>
<p>
  <!-- lang:en -->
  My enthusiasm for front-end web engineering was sparked! I was motivated to start larger scale
  software projects in my spare time. Hacking on side projects contributed to a large degree to the
  experience and broad knowledge I have today.
  <!-- /lang:en -->
  <!-- lang:de -->
  Mein Enthusiasmus für Frontend-Webenwicklung war geweckt! Die Projekte die ich in meiner Freizeit
  umsetzte wurden umfangreicher. Das hacken an Nebenprojekten trug einen grossen Teil zu meiner
  Erfahrung und meinem breiten Fachwissen bei.
  <!-- /lang:de -->
</p>
<p>
  <!-- lang:en -->
  During that time I started to study business informatics parallel to work. I learned all the
  aspects needed to lead IT projects to success and successfully completed my studies at the end of
  2019.
  <!-- /lang:en -->
  <!-- lang:de -->
  Während meiner Zeit bei der Agentur startete ich ein Studium der Wirtschaftsinformatik. Ich lernte
  viel über alle benötigten Aspekte, um IT-Projekte zum Erfolg zu bringen. Das Studium konnte ich
  Ende 2019 erfolgreich abschliessen.
  <!-- /lang:de -->
</p>
<h3>Eventfrog</h3>
<p>
  <!-- lang:en -->
  In 2020 I desired to change jobs to work on a product instead. This appealed more to me, because
  building and improving a single product suite to fit a market is more challenging to me, than
  building several websites per year, which probably do not have as much of an impact.
  <!-- /lang:en -->
  <!-- lang:de -->
  2020 strebte ich einen Jobwechsel an, um mein Wissen in die Entwicklung eines Produkts
  einzubringen. Das Bauen und Verbessern eines einzelnen Produkts um in einen spezifischen Markt
  erfolgreich zu sein ist eine grössere Herausforderung für mich, als viele Websites pro Jahr zu
  entwickeln, die möglicherweise nicht viel Verändern.
  <!-- /lang:de -->
</p>
<p>
  <!-- lang:en -->
  I achieved my goal by landing a job at Eventfrog as a front-end and hybrid app engineer.
  <!-- /lang:en -->
  <!-- lang:de -->
  Dieses Ziel erreichte ich, als ich bei Eventfrog als Frontend- und App-Entwickler angestellt
  wurde.
  <!-- /lang:de -->
</p>
<p>
  <!-- lang:en -->
  Eventfrog's goal is to revolutionize the event ticketing market by offering a self-service
  ticketing platform, funded by ads and a tier model. There I had the opportunity, to deepen my SPA
  framework knowledge, mainly in Angular, and my hybrid mobile app skills in Ionic.
  <!-- /lang:en -->
  <!-- lang:de -->
  Das Ziel von Eventfrog ist es, den Ticketing Markt zu revolutionieren, indem eine self-service
  Ticketingplatform angeboten wird, die via Werbung und verschiedenen Feature-Modellen finanziert
  wird. Ich hatte die Möglichkeit, mein Wissen in SPA-Frameworks, hauptsächlich in Angular, und in
  der Entwicklung von mobile Apps in Ionic zu vertiefen.
  <!-- /lang:de -->
</p>
<p>
  <!-- lang:en -->
  I was, among other things, involved in
  <!-- /lang:en -->
  <!-- lang:de -->
  Unter anderem war ich bei Eventfrog involviert in
  <!-- /lang:de -->
</p>
<ul>
  <li>
    <p>
      <!-- lang:en -->
      rebuilding the shop checkout front-end from scratch
      <!-- /lang:en -->
      <!-- lang:de -->
      den kompletten Rebuild des Shop-Checkouts
      <!-- /lang:de -->
    </p>
  </li>
  <li>
    <p>
      <!-- lang:en -->
      rebuilding the admission control app from scratch
      <!-- /lang:en -->
      <!-- lang:de -->
      den kompletten Rebuild der mobile App für die Einlasskontrolle
      <!-- /lang:de -->
    </p>
  </li>
  <li>
    <p>
      <!-- lang:en -->
      cleaning up and extending the self-service ticketing platform front-end
      <!-- /lang:en -->
      <!-- lang:de -->
      das Aufräumen und Erweitern der self-service Ticketing-Platform
      <!-- /lang:de -->
    </p>
  </li>
  <li>
    <p>
      <!-- lang:en -->
      cleaning up and extending the ticket buyer app
      <!-- /lang:en -->
      <!-- lang:de -->
      das Aufräumen und Erweitern der Ticketkäufer mobile App
      <!-- /lang:de -->
    </p>
  </li>
  <li>
    <p>
      <!-- lang:en -->
      adapting the Covid SDK of the Swiss government from Kotlin into TypeScript and integrating it
      into the admission control app, to check Covid Passes at the venue entrances
      <!-- /lang:en -->
      <!-- lang:de -->
      das Adaptieren der Covid-SDK des Bundes von Kotlin nach TypeScript und deren Integration in
      die Einlassekontroll-App
      <!-- /lang:de -->
    </p>
  </li>
</ul>
<h3>
  <!-- lang:en -->
  Now
  <!-- /lang:en -->
  <!-- lang:de -->
  Jetzt
  <!-- /lang:de -->
</h3>
<p>
  <!-- lang:en -->
  During all the years and the different challenges, my desire to be self-employed was growing. I
  function best in fast-paced environments with responsibility on my shoulders, when there is
  something at stake. A regular employment cannot offer me this most of the time.
  <!-- /lang:en -->
  <!-- lang:de -->
  Während all den Jahren und der verschiedenen Herausforderungen wuchs mein Wunsch, mich
  selbstständig zu machen. In einem schnellebigen Umfeld, in dem ich Verantwortung übernehmen kann
  und etwas "auf dem Spiel steht" funktioniere ich am besten. Eine Anstellung in einer Firma kann
  mir dies meistens nicht bieten.
  <!-- /lang:de -->
</p>
<p>
  <!-- lang:en -->
  This is why you are able to contract me as a versatile and battle-proofed software engineer today,
  which knows how to create user-friendly, robust, maintainable and scalable software solutions.
  <!-- /lang:en -->
  <!-- lang:de -->
  Deshalb können Sie mich nun als vielseitigen und erprobten Softwareentwickler für Ihr Projekt
  beauftragen, der in der Lage ist, benutzerfrendliche, robuste und skalierbare Softwarelösungen zu
  entwickeln.
  <!-- /lang:de -->
</p>
