<h2>About me</h2>
<p class="lead">I am Michel Wehrli, a swiss software engineer.</p>
<p>
  <a
    href="https://www.linkedin.com/in/michelwehrli/"
    target="_blank"
    class="anchor--blank"
    style="display: inline-block; margin-right: 8px"
    title="To Michel Wehrli's LinkedIn"
  >
    <img
      src="<%= require('../../asset/img/svg/tech/linkedin.svg') %>"
      alt="LinkedIn Logo"
      style="display: block; width: 24px; height: 24px"
      width="24"
      height="24"
    />
  </a>
  <a
    href="https://github.com/michelwehrli"
    target="_blank"
    class="anchor--blank"
    style="display: inline-block"
    title="To Michel Wehrli's GitHub"
  >
    <img
      src="<%= require('../../asset/img/svg/tech/github.svg') %>"
      alt="Github Logo"
      style="display: block"
      width="24"
      height="24"
    />
  </a>
</p>
<p class="lead">
  With 10 years of experience in conceptualizing, developing and integrating software, I am your
  ideal partner in realizing your next software product.
</p>
<h3>Beginnings and apprenticeship</h3>
<p>
  I started my software engineering journey in middle school, where I teached myself the basics of
  programming, operating systems and information technology in general. My first website in basic
  HTML and CSS was created during that time.
</p>
<p>
  This sparked my fascination for IT and my dedication, to take on a 4 year apprenticeship as a
  computer scientist with specialization in software engineering. Besides a lot of IT basics, I
  learned more about software engineering and programming languages during that time.
</p>
<p>
  My focus while at the office was C#, WPF and YAML. But during my free time I created Websites for
  friends and family with PHP, JavaScript and Wordpress and expanded my knowledge in software
  engineering for the web.
</p>
<h3>Agency experience</h3>
<p>
  After my apprenticeship I started a Job at a web agency in Zürich. There I learned more about web
  programming, namely JavaScript, PHP, HTML and CSS, and about conceptualizing and developing
  corporate websites for renowned Swiss companies.
</p>
<p>
  My enthusiasm for front-end web engineering was sparked! I was motivated to start larger scale
  software projects in my spare time. Hacking on side projects contributed to a large degree to the
  experience and broad knowledge I have today.
</p>
<p>
  During that time I started to study business informatics parallel to work. I learned all the
  aspects needed to lead IT projects to success and successfully completed my studies at the end of
  2019.
</p>
<h3>Eventfrog</h3>
<p>
  In 2020 I desired to change jobs to work on a product instead. This appealed more to me, because
  building and improving a single product suite to fit a market is more challenging to me, than
  building several websites per year, which probably do not have as much of an impact.
</p>
<p>I achieved my goal by landing a job at Eventfrog as a front-end and hybrid app engineer.</p>
<p>
  Eventfrog's goal is to revolutionize the event ticketing market by offering a self-service
  ticketing platform, funded by ads and a tier model. There I had the opportunity, to deepen my SPA
  framework knowledge, mainly in Angular, and my hybrid mobile app skills in Ionic.
</p>
<p>I was, among other things, involved in</p>
<ul>
  <li><p>rebuilding the shop checkout front-end from scratch</p></li>
  <li><p>rebuilding the admission control app from scratch</p></li>
  <li><p>cleaning up and extending the self-service ticketing platform front-end</p></li>
  <li><p>cleaning up and extending the ticket buyer app</p></li>
  <li>
    <p>
      adapting the Covid SDK of the Swiss government from Kotlin into TypeScript and integrating it
      into the admission control app, to check Covid Passes at the venue entrances
    </p>
  </li>
</ul>
<h3>Now</h3>
<p>
  During all the years and the different challenges, my desire to be self-employed was growing. I
  function best in fast-paced environments with responsibility on my shoulders, when there is
  something at stake. A regular employment cannot offer me this most of the time.
</p>
<p>
  This is why you are able to contract me as a versatile and battle-proofed software engineer today,
  which knows how to create user-friendly, robust, maintainable and scalable software solutions.
</p>
