<h2>Portfolio</h2>
<p class="lead">
  <!-- lang:en -->
  Here you find a selection of my completed projects.<br />Click on a tile to learn more about the
  project.
  <!-- /lang:en -->
  <!-- lang:de -->
  Hier finden Sie eine Auswahl meiner abgeschlossenen Projekte.<br />Klicken Sie auf eine Kachel, um
  mehr über das Projekt zu erfahren.
  <!-- /lang:de -->
</p>
<br />
<br />

<div class="tiles">
  <a
    href="/:lang/portfolio/datapot-crm"
    title="Learn more about the Datapot CRM project"
    class="tile"
  >
    <div class="tile__img">
      <picture>
        <source
          srcset="<%= require('../../asset/img/png/portfolio/datapot_small.webp') %>"
          type="image/webp"
        />
        <source
          srcset="<%= require('../../asset/img/png/portfolio/datapot_small.png') %>"
          type="image/jpeg"
        />
        <img
          src="<%= require('../../asset/img/png/portfolio/datapot_small.png') %>"
          alt="Datapot CRM project image"
          width="319"
          height="319"
        />
      </picture>
    </div>
    <div class="tile__content">
      <p>Datapot CRM</p>
      <p class="tile__content__sub">
        <!-- lang:en -->
        Tailored CRM system to manage and transform person and company data.
        <!-- /lang:en -->
        <!-- lang:de -->
        Maßgeschneidertes CRM-System zur Verwaltung von Kontaktdaten.
        <!-- /lang:de -->
      </p>
      <p class="anchor">Learn more</p>
    </div>
  </a>
  <a
    href="/:lang/portfolio/eventfrog-entry"
    title="Learn more about the Eventfrog Entry App project"
    class="tile"
  >
    <div class="tile__img">
      <picture>
        <source
          srcset="<%= require('../../asset/img/png/portfolio/entry-app_small.webp') %>"
          type="image/webp"
        />
        <source
          srcset="<%= require('../../asset/img/png/portfolio/entry-app_small.png') %>"
          type="image/jpeg"
        />
        <img
          src="<%= require('../../asset/img/png/portfolio/entry-app_small.png') %>"
          alt="Eventfrog Entry App project image"
          width="319"
          height="319"
        />
      </picture>
    </div>
    <div class="tile__content">
      <p>Eventfrog Entry App</p>
      <p class="tile__content__sub">
        <!-- lang:en -->
        Built-from-scratch ticket admission control mobile app.
        <!-- /lang:en -->
        <!-- lang:de -->
        Von Grund auf neu entwickelte mobile App zur Kontrolle der Eintrittskarten.
        <!-- /lang:de -->
      </p>
      <p class="anchor">Learn more</p>
    </div>
  </a>
  <a
    href="/:lang/portfolio/affolter-architekten-website"
    title="Learn more about the Affolter Architekten project"
    class="tile"
  >
    <div class="tile__img">
      <picture>
        <source
          srcset="<%= require('../../asset/img/png/portfolio/affolterarchitekten_small.webp') %>"
          type="image/webp"
        />
        <source
          srcset="<%= require('../../asset/img/png/portfolio/affolterarchitekten_small.png') %>"
          type="image/jpeg"
        />
        <img
          src="<%= require('../../asset/img/png/portfolio/affolterarchitekten_small.png') %>"
          alt="Affolter Architekten project image"
          width="319"
          height="319"
        />
      </picture>
    </div>
    <div class="tile__content">
      <p>Affolter Architekten Website</p>
      <p class="tile__content__sub">
        <!-- lang:en -->
        Single page corporate website to represent a young architectural company.
        <!-- /lang:en -->
        <!-- lang:de -->
        One-Pager Unternehmenswebsite für ein junges Architekturbüro.
        <!-- /lang:de -->
      </p>
      <p class="anchor">Learn more</p>
    </div>
  </a>
  <a
    href="/:lang/portfolio/race-sim-zone-app"
    title="Learn more about the Race Sim Zone App project"
    class="tile"
  >
    <div class="tile__img">
      <picture>
        <source
          srcset="<%= require('../../asset/img/png/portfolio/rsz_small.webp') %>"
          type="image/webp"
        />
        <source
          srcset="<%= require('../../asset/img/png/portfolio/rsz_small.png') %>"
          type="image/jpeg"
        />
        <img
          src="<%= require('../../asset/img/png/portfolio/rsz_small.png') %>"
          alt="Race Sim Zone App project image"
          width="319"
          height="319"
        />
      </picture>
    </div>
    <div class="tile__content">
      <p>Race Sim Zone App</p>
      <p class="tile__content__sub">
        <!-- lang:en -->
        Mobile app for a sim racing venue to act as an information point for visitors.
        <!-- /lang:en -->
        <!-- lang:de -->
        Mobile App für eine Simracing-Lounge, die als Informationsstelle für Besucher dient.
        <!-- /lang:de -->
      </p>
      <p class="anchor">Learn more</p>
    </div>
  </a>
  <a
    href="mailto:hallo@wehrli.me"
    title="Contact me!"
    target="_blank"
    rel="noopener"
    class="tile tile--cta"
  >
    <p>
      <!-- lang:en -->
      🧐<br />Your project could be listed here.
      <!-- /lang:en -->
      <!-- lang:de -->
      🧐<br />Ihr Projekt könnte hier aufgeführt sein.
      <!-- /lang:de -->
    </p>
    <p class="anchor">
      <!-- lang:en -->
      Let's talk!
      <!-- /lang:en -->
      <!-- lang:de -->
      Lassen Sie uns reden!
      <!-- /lang:de -->
    </p>
  </a>
  <a
    href="/:lang/portfolio/eventfrog-app"
    title="Learn more about the Eventfrog App project"
    class="tile"
  >
    <div class="tile__img">
      <picture>
        <source
          srcset="<%= require('../../asset/img/png/portfolio/efrg-app_small.webp') %>"
          type="image/webp"
        />
        <source
          srcset="<%= require('../../asset/img/png/portfolio/efrg-app_small.png') %>"
          type="image/jpeg"
        />
        <img
          src="<%= require('../../asset/img/png/portfolio/efrg-app_small.png') %>"
          alt="Eventfrog App project image"
          width="319"
          height="319"
        />
      </picture>
    </div>
    <div class="tile__content">
      <p>Eventfrog App</p>
      <p class="tile__content__sub">
        <!-- lang:en -->
        Revamp of the ticket buyer app, where users can view bought tickets and buy new ones.
        <!-- /lang:en -->
        <!-- lang:de -->
        Überarbeitung der Ticketkäufer-App, in der die Nutzer Tickets einsehen und kaufen können.
        <!-- /lang:de -->
      </p>
      <p class="anchor">Learn more</p>
    </div>
  </a>
  <a
    href="/:lang/portfolio/genderai-tool"
    title="Learn more about the GenderAI project"
    class="tile"
  >
    <div class="tile__img">
      <picture>
        <source
          srcset="<%= require('../../asset/img/png/portfolio/genderai_small.webp') %>"
          type="image/webp"
        />
        <source
          srcset="<%= require('../../asset/img/png/portfolio/genderai_small.png') %>"
          type="image/jpeg"
        />
        <img
          src="<%= require('../../asset/img/png/portfolio/genderai_small.png') %>"
          alt="GenderAI project image"
          width="319"
          height="319"
        />
      </picture>
    </div>
    <div class="tile__content">
      <p>GenderAI Tool</p>
      <p class="tile__content__sub">
        <!-- lang:en -->
        Online tool to classify names into gender by utilising artificial intelligence.
        <!-- /lang:en -->
        <!-- lang:de -->
        Online-Tool zur Klassifizierung von Namen nach Geschlecht mit Hilfe von künstlicher
        Intelligenz.
        <!-- /lang:de -->
      </p>
      <p class="anchor">Learn more</p>
    </div>
  </a>
  <a
    href="/:lang/portfolio/mageba-website"
    title="Learn more about the Mageba project"
    class="tile"
  >
    <div class="tile__img">
      <picture>
        <source
          srcset="<%= require('../../asset/img/png/portfolio/mageba_small.webp') %>"
          type="image/webp"
        />
        <source
          srcset="<%= require('../../asset/img/png/portfolio/mageba_small.png') %>"
          type="image/jpeg"
        />
        <img
          src="<%= require('../../asset/img/png/portfolio/mageba_small.png') %>"
          alt="Mageba project image"
          width="319"
          height="319"
        />
      </picture>
    </div>
    <div class="tile__content">
      <p>Mageba Website</p>
      <p class="tile__content__sub">
        <!-- lang:en -->
        Complete rebuild of the corporate website with new web technologies and custom features.
        <!-- /lang:en -->
        <!-- lang:de -->
        Neugestaltung der Website mit modernen Technologien und spannenden Funktionen.
        <!-- /lang:de -->
      </p>
      <p class="anchor">Learn more</p>
    </div>
  </a>
  <a href="/:lang/portfolio/3pmw-website" title="Learn more about the 3pmw project" class="tile">
    <div class="tile__img">
      <picture>
        <source
          srcset="<%= require('../../asset/img/png/portfolio/3pmw_small.webp') %>"
          type="image/webp"
        />
        <source
          srcset="<%= require('../../asset/img/png/portfolio/3pmw_small.png') %>"
          type="image/jpeg"
        />
        <img
          src="<%= require('../../asset/img/png/portfolio/3pmw_small.png') %>"
          alt="3pmw project image"
          width="319"
          height="319"
        />
      </picture>
    </div>
    <div class="tile__content">
      <p>3pmw Website</p>
      <p class="tile__content__sub">
        <!-- lang:en -->
        Wordpress corporate website to represent the project management services business on the
        web.
        <!-- /lang:en -->
        <!-- lang:de -->
        Wordpress-Unternehmenswebsite, um das Unternehmen im Internet zu repräsentieren.
        <!-- /lang:de -->
      </p>
      <p class="anchor">Learn more</p>
    </div>
  </a>
</div>
