.special-intro {
  display: flex;
  width: 100%;
  max-width: 800px;
  padding: 10vh space(6);
  flex: 1;
  flex-direction: column;
  gap: space(3);

  @media only screen and (max-width: 850px) {
    padding: 15vh space(4);
  }

  &__h1 {
    margin: 0;
  }

  &__small-spacer {
    display: block;
    height: space(2);
  }

  &__content {
    p {
      font-size: 22px;
      line-height: 32px;
      margin: 0;
    }

    a {
      margin-top: space(3);
      font-weight: bold;
      line-height: 23px;
    }
  }
}
