.portfolio-item {
  display: flex;
  flex-direction: column;
  gap: space(3);
  overflow: hidden;
  border-radius: space(1);

  &--horizontal {
    flex-direction: row;

    .portfolio-item__image {
      flex: 1;
      height: auto;
    }

    .portfolio-item__inner {
      flex: 2;
    }
  }

  &__image {
    aspect-ratio: 2.5/1;
    position: relative;
    overflow: hidden;
    border-radius: space(1);
    transition: filter 0.1s ease-in-out 0s;

    img,
    picture {
      position: absolute;
      width: 100%;
      border-radius: space(1);
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 20px;
      font-weight: 500;
    }

    &__visit-link {
      margin-top: space(1);
      align-self: flex-end;
      font-size: 18px;
      margin-top: space(3);
    }

    &__stack-icons {
      display: flex;
      flex-direction: row;
      margin-top: space(2);
      gap: space(1);
      align-items: center;

      img {
        height: 20px;
      }
    }
  }
}
