.staggered-list {
  display: flex;
  flex-direction: row;
  gap: space(6);

  &__col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: space(6);
  }
}

.staggered-list-cell {
  padding: space(3);
  border-radius: space(1);
  background-color: color(sky, lighter);
}
