<include path="includes/header_default.html"></include>
<section>
  <div class="special-intro">
    <h1 class="special-intro__h1">
      I build <strong>tailor-made</strong> software<br />
      for the web.
    </h1>
    <div class="special-intro__content">
      <p class="lead">
        From informative websites<br />to engaging mobile apps<br />to large scale web application
        systems.
        <span class="special-intro__small-spacer"></span>
        I build your next software project for the web.<br />From architecture to building to
        testing to integration.
      </p>
      <a href="#services" class="button button--gradient button--large"> Services&nbsp;&nbsp;🡒 </a>
    </div>
    <!--<div class="special-intro__image">
      <svg viewBox="0 0 398.6 435.4" width="0" height="0">
        <clipPath id="blob" clipPathUnits="objectBoundingBox" transform="scale(0.002508, 0.002296)">
          <path
            class="st0"
            d="M332.3,48.8c32.6,18.1,58.5,49.4,64.7,83.7c6.3,34.3-7.1,71.5-15.8,107.1c-8.6,35.7-12.6,69.7-26,108.4
          c-13.5,38.6-36.5,81.9-68,86.9c-31.4,5-71.5-28.3-117.1-41.8c-45.7-13.6-97.1-7.5-123.9-28.3c-26.7-20.8-28.9-68.5-35-115.4
          c-6.2-46.8-16.4-92.6-8-138c8.3-45.3,35.3-90,74.7-105s91.3-0.3,136.9,9.6C260.4,25.8,299.7,30.6,332.3,48.8z"
          />
        </clipPath>
      </svg>

      <picture>
        <source
          srcset="<%= require('../asset/img/jpg/shitty_portrait_small.webp') %>"
          type="image/webp"
        />
        <img
          src="<%= require('../asset/img/jpg/shitty_portrait_small.jpg') %>"
          alt="Eventfrog App Screenshot - Portfolio"
          width="285"
          height="380"
        />
      </picture>
    </div>-->
  </div>
  <article>
    <a class="anchor" name="services"></a>
    <include path="pages/start/services.html"></include>
  </article>
  <article class="article--centered article--max-width">
    <h2>Are you interested?</h2>
    <p>Or do you want to find out more?<br />Please contact me without hesitation.</p>
    <a href="mailto:hallo@wehrli.me" target="_blank" class="button button--gradient button--large">
      Contact me&nbsp;&nbsp;✉
    </a>
  </article>
  <!--<article>
    <a class="anchor" name="philosophy"></a>
    <include path="pages/start/philosophy.html"></include>
  </article>-->
  <article>
    <a class="anchor" name="technologies"></a>
    <include path="pages/start/technologies.html"></include>
  </article>
  <article class="article--max-width-2">
    <a class="anchor" name="about"></a>
    <include path="pages/start/about-me.html"></include>
  </article>
  <article class="article--centered article--max-width">
    <h2>Did I spark your interest?</h2>
    <p>Or any questions?<br />Shoot me an email right away.</p>
    <a href="mailto:hallo@wehrli.me" target="_blank" class="button button--gradient button--large">
      Contact me&nbsp;&nbsp;✉
    </a>
  </article>
  <article>
    <a class="anchor" name="portfolio"></a>
    <include path="pages/start/portfolio.html"></include>
  </article>
</section>
