<include path="includes/header_default.html"></include>
<section>
  <div class="special-intro">
    <h1 class="special-intro__h1">
      I build <strong>tailor-made</strong> software<br />
      for the web.
    </h1>
    <div class="special-intro__content">
      <p class="lead">
        From informative websites<br />to engaging mobile apps<br />to large scale web
        applications<br />to fully systems.
        <span class="special-intro__small-spacer"></span>
        I build your next software project for the web.<br />From architecture to building to
        testing to integration.
      </p>
      <a href="#services" class="button button--gradient button--large"> Services&nbsp;&nbsp;🡒 </a>
    </div>
    <!--<div class="special-intro__image">
      <svg viewBox="0 0 398.6 435.4" width="0" height="0">
        <clipPath id="blob" clipPathUnits="objectBoundingBox" transform="scale(0.002508, 0.002296)">
          <path
            class="st0"
            d="M332.3,48.8c32.6,18.1,58.5,49.4,64.7,83.7c6.3,34.3-7.1,71.5-15.8,107.1c-8.6,35.7-12.6,69.7-26,108.4
          c-13.5,38.6-36.5,81.9-68,86.9c-31.4,5-71.5-28.3-117.1-41.8c-45.7-13.6-97.1-7.5-123.9-28.3c-26.7-20.8-28.9-68.5-35-115.4
          c-6.2-46.8-16.4-92.6-8-138c8.3-45.3,35.3-90,74.7-105s91.3-0.3,136.9,9.6C260.4,25.8,299.7,30.6,332.3,48.8z"
          />
        </clipPath>
      </svg>

      <picture>
        <source
          srcset="<%= require('../asset/img/jpg/shitty_portrait_small.webp') %>"
          type="image/webp"
        />
        <img
          src="<%= require('../asset/img/jpg/shitty_portrait_small.jpg') %>"
          alt="Eventfrog App Screenshot - Portfolio"
          width="285"
          height="380"
        />
      </picture>
    </div>-->
  </div>
  <article>
    <a class="anchor" name="services"></a>
    <h2>Services</h2>
    <p class="lead">
      With extensive experience and year-long involvement in modern web software engineering, I am
      your ideal partner for conceptualizing, building, testing and integrating your next software
      project for the web.
    </p>
    <p class="lead">
      Further I offer codebase audits to improve your existing software products and consulting, to
      support you in forming a decision in all things web and web development.
    </p>
    <br />
    <div class="boxes">
      <div class="box">
        <h3>Data Management Systems</h3>
        <p>
          I build tailor-made systems to import, record, maintain, analyse and export any kind of
          your business data.
        </p>
        <p>
          By analysing your business needs and requirements and then building a custom system, there
          are virtually no limits, on what can be achieved.
        </p>
        <p>
          No third party solutions that are costly to integrate and maintain. My solutions are
          thoroughly thought through, extensible, tested and documented. You stay flexible and own
          the software code, to do with it as you please in the future.
        </p>
        <p>See my <a href="#portfolio">Portfolio</a>, to get an idea on what I can provide.</p>
      </div>
      <div class="box">
        <h3>Websites</h3>
        <p>
          I build your new website from existing Designs and Wireframes, connect it to a CMS system
          or any existing or new Data Management System and set it up on your servers.
        </p>
        <p>
          An informative and attractive website with good user experience is in current times your
          most important marketing instrument. It gives your business identity and credibility.
        </p>
        <p>See my <a href="#portfolio">Portfolio</a>, to get an idea on what I can provide.</p>
      </div>
      <div class="box">
        <h3>Mobile Apps</h3>
        <p>
          Mobile apps which tap into the data of existing or new management systems are a modern
          approach to improve your business processes. Bind your customers or improve the workflow
          of your employees.
        </p>
        <p>I build your specialized mobile app and connect it to your data.</p>
        <p>See my <a href="#portfolio">Portfolio</a>, to get an idea on what I can provide.</p>
      </div>
      <div class="box">
        <h3>Connected Systems</h3>
        <p>
          I build all-encompassing system landscapes consisting of websites, mobile apps and data
          management systems. In that way, your data is in one central place, instead of scattered
          across multiple systems and platforms.
        </p>
        <p>
          The power of your data should be used for your business success. Don't let chaos in your
          data reduce your success.
        </p>
      </div>
      <div class="box">
        <h3>Codebase Audits</h3>
        <p>
          Software code can get complex and confusing very fast. Developers are often blind to their
          own shortcomings concerning their code, which makes it vulnerable. This is why periodic
          code audits are a must, to keep your software maintainable and to prevent your code on
          bringing your business to a halt.
        </p>
        <p>
          I analyse and audit existing codebases, developed by your internal or external partners,
          with focus on maintainability and overall code quality and write an extensive report on
          possibilities on how to improve and on what to think about in the future.
        </p>
      </div>
      <div class="box">
        <h3>Web Consulting</h3>
        <p>
          Nobody can be an expert in everything. Let me be your expert in all things web and web
          development.
        </p>
        <p>Contact my without hesitation in any of your web and internet needs.</p>
      </div>
    </div>
  </article>
  <article class="article--centered article--max-width">
    <h2>Are you interested?</h2>
    <p>Please contact me without hesitation.</p>
    <a href="mailto:hallo@wehrli.me" target="_blank" class="button button--gradient button--large">
      Contact me&nbsp;&nbsp;✉
    </a>
  </article>
  <!--<article>
    <a class="anchor" name="philosophy"></a>
    <h2>Philosophy</h2>
    <p class="lead">I operate with a certain philosophy and with standards to myself.</p>
    <br />
    <div class="boxes">
      <div class="box">
        <h3>My client owns my output</h3>
        <p>
          Many contractors produce software which they license to the client for usage, but is
          ultimately owned by the contractor. I do not operate like this. Everything I produce
          during my relationship with a client, is the clients property. This has many benefits for
          both the client and me.
        </p>
        <p>
          It allows the client, for example, to be flexible with their software, rearrange project
          organisation and even cut me out of the mix entirely, if necessary, without losing their
          software. Depending on the scale of a growing project, I will even advise such a step.
        </p>
        <p>
          On the other hand, it allows me to stay flexible with my time and the amount of projects I
          tackle, without having to worry about running out of resources.
        </p>
      </div>
      <div class="box">
        <h3>I communicate often</h3>
        <p>
          I believe, that communication is the key to success. I pride myself in full transparency.
        </p>
        <p>
          This is why I communicate often via instant messages, status reports, emails or calls. If
          conditions change or things do not go as planned, the client and I need to resolve these
          issues quickly, so that the project timeline can be adjusted.
        </p>
      </div>
      <div class="box">
        <h3>I am honest</h3>
        <p>
          I do not lie about anything, to gain an advantage. My time estimates, my progress reports,
          my communication, what I say I will be able to do, all is honest. If estimates turn out to
          be wrong, either to much or too little, if there appear unforseen circumstances or if
          there are any other issues, i will communicate immediately.
        </p>
        <p>In turn, I expect my clients to be honest as well.</p>
      </div>
      <div class="box">
        <h3>I work with full capacity</h3>
        <p>
          For me, software is not something, that can be produced with half capacity. During the
          time I work on software, it has my full attention. That way I can guarantee the best
          possible outcome.
        </p>
        <p>
          In turn this means, that all information that I need to complete a project must be present
          prior to me starting. If I have to constantly collect information while I try to produce
          software, the quality will inadventently suffer.
        </p>
        <p>
          It also means, that I do not calculate a productivity factor. An hour spent with me is an
          hour I will dedicate to the project. Breaks, calls with family, walking the dog will not
          be calculated into the mix. This means, my hourly rate is fair, both to the client and to
          me.
        </p>
      </div>
      <div class="box">
        <h3>I work with people</h3>
        <p>
          But I don't work <strong>for</strong> people. A classical client-contractor relationship
          is not for me.
        </p>
        <p>
          I believe in a cooperative and supporting work environment. This is the only possible
          breeding ground for the successful outcome of any project.
        </p>
      </div>
    </div>
  </article>
-->
  <article>
    <a class="anchor" name="technologies"></a>
    <h2>Technologies</h2>
    <p class="lead">
      Atwood's Law states, that "Any application that <i>can</i> be written in JavaScript,
      <i>will</i> eventually be written in JavaScript".
    </p>
    <br />
    <p>
      I support this hypothesis. JavaScript enables good user experience on the internet. It is
      accessible for everyone, runs in every browser on any computer and smartphone. This is why, in
      my opinion, JavaScript and the technologies that emerged from it, like TypeScript, SPA
      frameworks and Node.js, are the best things that has happened to software engineering and
      probably mankind in the last three decades.
    </p>
    <p>
      For these reasons, my focus in software engineering lies on technologies, that emerged from
      JavaScript.
    </p>
    <br /><br />
    <div class="staggered-list">
      <div class="staggered-list__col">
        <div class="staggered-list-cell">
          <h3>Front end</h3>
          <p>
            The front end of a web application is the parts, which is executed within a browser.
            Users can interact with it and it fetches data from and sends data to the back end,
            which runs on a server.
          </p>
          <p>
            In the front end <a href="https://angular.io/" target="_blank">Angular</a>,
            <a href="https://react.dev/" target="_blank">React</a>,
            <a href="https://vuejs.org/" target="_blank">Vue.js</a>,
            <a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a>,
            <a href="https://en.wikipedia.org/wiki/HTML" target="_blank">HTML</a> and
            <a href="https://en.wikipedia.org/wiki/CSS" target="_blank">CSS</a>
            are some of the technologies, I am using to build your next software project.
          </p>
        </div>
        <div class="staggered-list-cell">
          <h3>Back end</h3>
          <p>
            The back end is the part on a web application, which is executed on a server. It
            computes data, reads and writes to databases and is responsible to do things, that can
            not or should not be done in the front end.
          </p>
          <p>
            In the back end I use
            <a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a> as well. Here
            it is used within <a href="https://nodejs.org/" target="_blank">Node.js</a>, which is a
            runtime environment, that can run
            <a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> like a
            Browser.
          </p>
          <p>
            As a Node.js framework I use <a href="https://nestjs.com/" target="_blank">NestJS</a>.
          </p>
          <p>
            As Node.js headless CMS' I use
            <a href="https://strapi.io/" target="_blank">Strapi</a> or
            <a href="https://ghost.org/" target="_blank">Ghost</a>.
          </p>
        </div>
      </div>
      <div class="staggered-list__col">
        <div class="staggered-list-cell">
          <h3>Mobile apps</h3>
          <p>
            Mobile apps can be built with multiple technologies. Because I use JavaScript, I
            predominantly use
            <a href="https://ionicframework.com/" target="_blank">Ionic Framework</a>, but
            <a href="https://reactnative.dev/" target="_blank">React Native</a> or
            <a href="https://nativescript.org/" target="_blank">NativeScript</a> are good
            alternatives too.
          </p>
          <p>
            The big advantage of so called hybrid mobile apps is, that only one app needs to be
            built, to support both iOS and Android.
          </p>
        </div>
        <div class="staggered-list-cell">
          <h3>Web server</h3>
          <p>
            As web server technology I use
            <a href="https://www.nginx.com/" target="_blank">Nginx</a> or
            <a href="https://httpd.apache.org/" target="_blank">Apache</a> and Linux as operating
            system, depending on the available server.
          </p>
          <p>
            For Node.js process management I use
            <a href="https://pm2.keymetrics.io/" target="_blank">pm2</a>.
          </p>
          <p>
            For scalable back ends I use
            <a href="https://kubernetes.io/" target="_blank">Kubernetes</a>.
          </p>
        </div>
        <div class="staggered-list-cell">
          <h3>Database</h3>
          <p>
            I like best, to use relational database systems with SQL, because data relations can be
            depicted within the database structure.
          </p>
          <p>
            I rely on ORMs like
            <a href="https://www.prisma.io/" target="_blank">Prisma</a>,
            <a href="https://mikro-orm.io/" target="_blank">MikroORM</a> or
            <a href="https://typeorm.io/" target="_blank">TypeORM</a>. Theses ORMs can manage a
            diverse range of databases, like
            <a href="https://www.sqlite.org/" target="_blank">SQLite</a>,
            <a href="https://www.mysql.com/" target="_blank">MySQL</a>,
            <a href="https://www.mongodb.com/" target="_blank">MongoDB</a>,
            <a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a> or
            <a href="https://redis.io/" target="_blank">Redis</a>.
          </p>
        </div>
      </div>
    </div>
  </article>
  <article>
    <a class="anchor" name="about"></a>
    <h2>About me</h2>
    <p class="lead">
      With more than 10 years of experience in conceptualizing, developing and integrating software,
      I am your ideal partner in programming your next software product.
    </p>
    <h4>Beginnings and apprenticeship</h4>
    <p class="flow">
      I started my software journey in school, where I teached myself the basics of operating
      systems, programming and information technology in general. My first website in basic HTML and
      CSS was created during that time.
    </p>
    <p class="flow">
      This sparked my fascination for IT and my dedication, to graduate a 4 year apprenticeship as a
      computer scientist with specialization in software engineering. Besides a lot of IT basics, I
      learned more about software engineering and programming languages. My focus while at the
      office was C#, WPF and YAML. But during my free time I already created Websites for friends
      and family with PHP, JavaScript and Wordpress and expanded my knowledge in software
      engineering for the web.
    </p>
    <h4>Agency experience</h4>
    <p class="flow">
      After my apprenticeship I landed a Job in a web agency in Zürich. There I learned more about
      JavaScript, PHP, HTML, CSS and about conceptualizing and developing corporate Websites for
      renowned Swiss companies.<br />There my enthusiasm for front end web engineering was sparked,
      which motivated me, to start larger scale software projects in my free time. Coding started to
      become a large part of my life.
    </p>
    <p class="flow">
      Also during that time, I started to study business informatics parallel to work. There I
      learned all the aspects needed, to lead IT projects to success. I successfully completed my
      studies at the end of 2019.
    </p>
    <h4>Eventfrog</h4>
    <p class="flow">
      In 2020 I desired to change jobs and had the luck, to land one as a front end and app
      developer at Eventfrog. Their goal is, to revolutionize the event ticketing market by offering
      a self-service ticketing platform. Here I had the opportunity, to deepen my SPA framework
      knowledge, mainly in Angular, and my hybrid mobile app skills in Ionic.
    </p>
    <h4>Now</h4>
    <p class="flow">
      During my time at Eventfrog my desire to be self-employed started to grow. Beeing slowed down
      by company inefficiencies and politics was something, I was always very reluctant to.
    </p>
    <p class="flow">
      This is why, you can hire me now as a versatile and battle-proofed software engineer which has
      seen many sides of how to, and, more importantly, how not to, lead software projects and
      develop robust, maintainable and scalable software.
    </p>
  </article>
  <article class="article--centered article--max-width">
    <h2>Did I spark your interest?</h2>
    <p>Shoot me an email right away.</p>
    <a href="mailto:hallo@wehrli.me" target="_blank" class="button button--gradient button--large">
      Contact me&nbsp;&nbsp;✉
    </a>
  </article>
  <article>
    <a class="anchor" name="portfolio"></a>
    <h2>Portfolio</h2>
    <p class="lead">Hier finden Sie eine Selektion meiner Projekte.</p>
    <br />
    <br />

    <div class="staggered-list">
      <div class="staggered-list__col">
        <div class="staggered-list-cell portfolio-item">
          <div class="portfolio-item__image">
            <picture>
              <source
                srcset="<%= require('../asset/img/png/portfolio/datapot_small.webp') %>"
                type="image/webp"
              />
              <img
                src="<%= require('../asset/img/png/portfolio/datapot_small.png') %>"
                alt="Datapot CRM Screenshot - Portfolio"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="portfolio-item__inner">
            <p class="portfolio-item__inner__title">Datapot CRM</p>
            <p>
              Das Datapot CRM ist eine massgeschneiderte CRM-Lösung, welche im Jahr 2017 entwickelt
              wurde, bis heute gewartet wird und erfolgreich im Betrieb ist. Das CRM bietet die
              Möglichkeit, Kontakt-, Firmen- und diverse Stammdaten zu erfassen, Daten zu
              verknüpfen, ins O365 zu exportieren und auf verschiedene Art und Weisen
              weiterzuverarbeiten.
            </p>
            <p>
              Zur Anwendung kamen bei diesem Projekt SQLite, MikroORM, Express, Node.JS, Angular,
              HTML5 und SASS.
            </p>
            <div class="portfolio-item__inner__stack-icons">
              <img
                src="<%= require('../asset/img/svg/tech/sqlite.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="SQLite Icon"
              />
              <img
                src="<%= require('../asset/img/svg/tech/mikroorm.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="MikroORM Icon"
              />
              <img
                src="<%= require('../asset/img/svg/tech/nodejs.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="Node.JS Icon"
              />
              <img
                src="<%= require('../asset/img/svg/tech/angular.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="Angular Icon"
              />
              <img
                src="<%= require('../asset/img/svg/tech/ts.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="TypeScript Icon"
              />
              <img
                src="<%= require('../asset/img/svg/tech/html5.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="HTML5 Icon"
              />
              <img
                src="<%= require('../asset/img/svg/tech/css3.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="CSS3 Icon"
              />
            </div>
          </div>
        </div>
        <div class="staggered-list-cell portfolio-item portfolio-item--horizontal">
          <div class="portfolio-item__image">
            <picture>
              <source
                srcset="<%= require('../asset/img/png/portfolio/efrg-app_small.webp') %>"
                type="image/webp"
              />
              <img
                src="<%= require('../asset/img/png/portfolio/efrg-app_small.png') %>"
                alt="Eventfrog App Screenshot - Portfolio"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="portfolio-item__inner">
            <p class="portfolio-item__inner__title">Eventfrog Ticketkäufer App</p>
            <p>
              Die Eventfrog Ticketkäufer App ist das Portal für die Eventfrog-Kunden. Hier kommen
              die User zu Ihren Tickets, können nach Events suchen und weitere Tickets kaufen.
            </p>
            <p>
              Die App habe ich für Eventfrog komplett überarbeitet und auf den aktuellsten Stand der
              Technik gebracht.
            </p>
            <p>
              Zum Einsatz kommen Ionic Capacitor, Angular, HTML5 und SASS. Die Backend-Kommunikation
              läuft via REST-Schnittstellen.
            </p>
            <div class="portfolio-item__inner__stack-icons">
              <img
                src="<%= require('../asset/img/svg/tech/ionic-capacitor.svg') %>"
                loading="lazy"
                width="20"
                height="20"
                alt="Ionic Capacitor Icon"
              />
              <img
                src="<%= require('../asset/img/svg/tech/angular.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="Angular Icon"
              />
              <img
                src="<%= require('../asset/img/svg/tech/ts.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="TypeScript Icon"
              />
              <img
                src="<%= require('../asset/img/svg/tech/html5.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="HTML5 Icon"
              />
              <img
                src="<%= require('../asset/img/svg/tech/css3.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="CSS3 Icon"
              />
            </div>
            <a
              href="https://eventfrog.net/efrg-app.html"
              target="_blank"
              class="portfolio-item__inner__visit-link"
            >
              Besuchen
            </a>
          </div>
        </div>
        <div class="staggered-list-cell portfolio-item">
          <div class="portfolio-item__image">
            <picture>
              <source
                srcset="<%= require('../asset/img/png/portfolio/mageba_small.webp') %>"
                type="image/webp"
              />
              <img
                src="<%= require('../asset/img/png/portfolio/mageba_small.png') %>"
                alt="Mageba Screenshot - Portfolio"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="portfolio-item__inner">
            <p class="portfolio-item__inner__title">Mageba Global</p>
            <p>
              Den Relaunch der Corporate-Website von Mageba wurde im Jahr 2020 abgeschlossen. Die
              Website beinhaltet eine Projekt-, Referenz- und Dokumenten-Verwaltung, welche im
              Frontend abgebildet wird. Sowohl Backend- als auch Frontend-Entwicklung sowie das
              Key-Account-Management wurde von mir durchgeführt.
            </p>
            <div class="portfolio-item__inner__stack-icons">
              <img
                src="<%= require('../asset/img/svg/tech/php.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="PHP Icon"
              />
              <img
                src="<%= require('../asset/img/svg/tech/js.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="JavaScript Icon"
              />
              <img
                src="<%= require('../asset/img/svg/tech/html5.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="HTML5 Icon"
              />
              <img
                src="<%= require('../asset/img/svg/tech/css3.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="CSS3 Icon"
              />
            </div>
            <a
              href="https://www.mageba.ch"
              target="_blank"
              class="portfolio-item__inner__visit-link"
            >
              Besuchen
            </a>
          </div>
        </div>
      </div>
      <div class="staggered-list__col">
        <div class="staggered-list-cell portfolio-item">
          <div class="portfolio-item__image">
            <picture>
              <source
                srcset="<%= require('../asset/img/png/portfolio/affolterarchitekten_small.webp') %>"
                type="image/webp"
              />
              <img
                src="<%= require('../asset/img/png/portfolio/affolterarchitekten_small.png') %>"
                alt="Affolter Architekten Screenshot - Portfolio"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="portfolio-item__inner">
            <p class="portfolio-item__inner__title">Affolter Architekten</p>
            <p>
              Diese Corporate-Website wurde im Jahr 2022 entwickelt, um die junge Firma optimal im
              Internet zu vertreten. Es handelt sich um einen One-Pager mit einer massgeschneiderten
              CMS Lösung in PHP, TypeScript, HTML5 und SASS.
            </p>
            <div class="portfolio-item__inner__stack-icons">
              <img
                src="<%= require('../asset/img/svg/tech/php.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="PHP Icon"
              />
              <img
                src="<%= require('../asset/img/svg/tech/js.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="JavaScript Icon"
              />
              <img
                src="<%= require('../asset/img/svg/tech/html5.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="HTML5 Icon"
              />
              <img
                src="<%= require('../asset/img/svg/tech/css3.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="CSS3 Icon"
              />
            </div>
            <a
              href="https://www.affolterarchitekten.ch"
              target="_blank"
              class="portfolio-item__inner__visit-link"
            >
              Besuchen
            </a>
          </div>
        </div>
        <div class="staggered-list-cell portfolio-item">
          <div class="portfolio-item__image">
            <picture>
              <source
                srcset="<%= require('../asset/img/png/portfolio/3pmw_small.webp') %>"
                type="image/webp"
              />
              <img
                src="<%= require('../asset/img/png/portfolio/3pmw_small.png') %>"
                alt="3pmw Screenshot - Portfolio"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="portfolio-item__inner">
            <p class="portfolio-item__inner__title">3pmw projekte & management gmbh</p>
            <p>
              Diese Corporate-Website für die 3pmw gmbh wurde im Jahr 2017 abgeschlossen und bietet
              mit Wordpress als CMS alle Funktionen einer modernen CMS Software.
            </p>
            <div class="portfolio-item__inner__stack-icons">
              <img
                src="<%= require('../asset/img/svg/tech/wordpress.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="Wordpress Icon"
              />
              <img
                src="<%= require('../asset/img/svg/tech/js.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="JavaScript Icon"
              />
              <img
                src="<%= require('../asset/img/svg/tech/html5.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="HTML5 Icon"
              />
              <img
                src="<%= require('../asset/img/svg/tech/css3.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="CSS3 Icon"
              />
            </div>
            <a href="https://www.3pmw.ch" target="_blank" class="portfolio-item__inner__visit-link">
              Besuchen
            </a>
          </div>
        </div>
        <div class="staggered-list-cell portfolio-item">
          <div class="portfolio-item__image">
            <picture>
              <source
                srcset="<%= require('../asset/img/png/portfolio/genderai_small.webp') %>"
                type="image/webp"
              />
              <img
                src="<%= require('../asset/img/png/portfolio/genderai_small.png') %>"
                alt="genderai Screenshot - Portfolio"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="portfolio-item__inner">
            <p class="portfolio-item__inner__title">genderai.com</p>
            <p>
              Das genderAI Web-Tool bietet die Möglichkeit, Namen in ihr entsprechendes Geschlecht
              umzuwandeln. Dies wird durch künstliche Intelligenz ermöglicht.
            </p>
            <p>
              Dieses Projekt entstand 2019 und wurde seither ein paar mal neu geschrieben und in
              einen anderen Stack transportiert.
            </p>
            <p>Verwendet wird Synaptic, Node.JS mit Express, Angular, HTML5 und SASS.</p>

            <div class="portfolio-item__inner__stack-icons">
              <img
                src="<%= require('../asset/img/svg/tech/nodejs.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="Node.JS Icon"
              />
              <img
                src="<%= require('../asset/img/svg/tech/angular.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="Angular Icon"
              />
              <img
                src="<%= require('../asset/img/svg/tech/ts.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="TypeScript Icon"
              />
              <img
                src="<%= require('../asset/img/svg/tech/html5.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="HTML5 Icon"
              />
              <img
                src="<%= require('../asset/img/svg/tech/css3.svg') %>"
                width="20"
                height="20"
                loading="lazy"
                alt="CSS3 Icon"
              />
            </div>
            <a
              href="https://www.genderai.com"
              target="_blank"
              class="portfolio-item__inner__visit-link"
            >
              Besuchen
            </a>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
