<div class="portfolio-item__image">
  <a href="res/3pmw.png" target="_blank">
    <picture>
      <source
        srcset="<%= require('../../../asset/img/png/portfolio/3pmw.png') %>"
        type="image/webp"
      />
      <source
        srcset="<%= require('../../../asset/img/png/portfolio/3pmw_small.webp') %>"
        type="image/webp"
      />
      <img
        src="<%= require('../../../asset/img/png/portfolio/3pmw_small.png') %>"
        alt="3pmw Screenshot - Portfolio"
        loading="lazy"
      />
    </picture>
  </a>
</div>
<div class="portfolio-item__inner">
  <p class="portfolio-item__inner__title">3pmw projekte & management gmbh</p>
  <p>
    This corporate website, built for 3pmw gmbh, was completed in 2017 and features any functions of
    a modern CMS, powered by Wordpress.
  </p>
  <div class="portfolio-item__inner__stack-icons">
    <img
      src="<%= require('../../../asset/img/svg/tech/wordpress.svg') %>"
      width="20"
      height="20"
      loading="lazy"
      alt="Wordpress Icon"
    />
    <img
      src="<%= require('../../../asset/img/svg/tech/js.svg') %>"
      width="20"
      height="20"
      loading="lazy"
      alt="JavaScript Icon"
    />
    <img
      src="<%= require('../../../asset/img/svg/tech/html5.svg') %>"
      width="20"
      height="20"
      loading="lazy"
      alt="HTML5 Icon"
    />
    <img
      src="<%= require('../../../asset/img/svg/tech/css3.svg') %>"
      width="20"
      height="20"
      loading="lazy"
      alt="CSS3 Icon"
    />
  </div>
  <a href="https://www.3pmw.ch" target="_blank" class="portfolio-item__inner__visit-link">
    Visit Website&nbsp;&nbsp;🡒
  </a>
</div>
