<div class="portfolio-item__image">
  <a href="res/affolterarchitekten.png" target="_blank">
    <picture>
      <source
        srcset="<%= require('../../../asset/img/png/portfolio/affolterarchitekten.png') %>"
        type="image/webp"
      />
      <source
        srcset="<%= require('../../../asset/img/png/portfolio/affolterarchitekten_small.webp') %>"
        type="image/webp"
      />
      <img
        src="<%= require('../../../asset/img/png/portfolio/affolterarchitekten_small.png') %>"
        alt="Affolter Architekten Screenshot - Portfolio"
        loading="lazy"
      />
    </picture>
  </a>
</div>
<div class="portfolio-item__inner">
  <p class="portfolio-item__inner__title">Affolter Architekten</p>
  <p>
    This corporate website was completed in 2022, to optimally represent the young company on the
    internet.
  </p>
  <p>
    It is a one pager website which features a custom-built headless CMS system programmed in
    <i>PHP</i> and <i>TypeScript</i>.
  </p>
  <div class="portfolio-item__inner__stack-icons">
    <img
      src="<%= require('../../../asset/img/svg/tech/php.svg') %>"
      width="20"
      height="20"
      loading="lazy"
      alt="PHP Icon"
    />
    <img
      src="<%= require('../../../asset/img/svg/tech/ts.svg') %>"
      width="20"
      height="20"
      loading="lazy"
      alt="TypeScript Icon"
    />
  </div>
  <a
    href="https://www.affolterarchitekten.ch"
    target="_blank"
    class="portfolio-item__inner__visit-link"
  >
    Visit Website&nbsp;&nbsp;🡒
  </a>
</div>
