<div class="portfolio-item__image">
  <a href="res/datapot.png" target="_blank">
    <picture>
      <source
        srcset="<%= require('../../../asset/img/png/portfolio/datapot.png') %>"
        type="image/png"
      />
      <source
        srcset="<%= require('../../../asset/img/png/portfolio/datapot_small.webp') %>"
        type="image/webp"
      />
      <img
        src="<%= require('../../../asset/img/png/portfolio/datapot_small.png') %>"
        alt="Datapot CRM Screenshot - Portfolio"
        loading="lazy"
      />
    </picture>
  </a>
</div>
<div class="portfolio-item__inner">
  <p class="portfolio-item__inner__title">Datapot CRM</p>
  <p>
    The Datapot CRM is a fully custom CRM system, which development startet in 2017 and is ongoing
    until today. It features CRUD of contact data, company data, basic data and custom data, import
    from CSV and export into Microsoft Office 365 and CSV.
  </p>
  <p>
    The technology stack is <i>TypeScript</i>, <i>Angular</i>, <i>Node.js</i>, <i>Express</i>,
    <i>MikroORM</i> and <i>SQLite</i>.
  </p>
  <div class="portfolio-item__inner__stack-icons">
    <img
      src="<%= require('../../../asset/img/svg/tech/sqlite.svg') %>"
      width="20"
      height="20"
      loading="lazy"
      alt="SQLite Icon"
    />
    <img
      src="<%= require('../../../asset/img/svg/tech/mikroorm.svg') %>"
      width="20"
      height="20"
      loading="lazy"
      alt="MikroORM Icon"
    />
    <img
      src="<%= require('../../../asset/img/svg/tech/nodejs.svg') %>"
      width="20"
      height="20"
      loading="lazy"
      alt="Node.JS Icon"
    />
    <img
      src="<%= require('../../../asset/img/svg/tech/angular.svg') %>"
      width="20"
      height="20"
      loading="lazy"
      alt="Angular Icon"
    />
    <img
      src="<%= require('../../../asset/img/svg/tech/ts.svg') %>"
      width="20"
      height="20"
      loading="lazy"
      alt="TypeScript Icon"
    />
  </div>
</div>
