<div class="portfolio-item__image">
  <a href="res/entry-app.png" target="_blank">
    <picture>
      <source
        srcset="<%= require('../../../asset/img/png/portfolio/entry-app.png') %>"
        type="image/png"
      />
      <source
        srcset="<%= require('../../../asset/img/png/portfolio/entry-app_small.webp') %>"
        type="image/webp"
      />
      <img
        src="<%= require('../../../asset/img/png/portfolio/entry-app_small.png') %>"
        alt="Eventfrog App Screenshot - Portfolio"
        loading="lazy"
      />
    </picture>
  </a>
</div>
<div class="portfolio-item__inner">
  <p class="portfolio-item__inner__title">Eventfrog Entry</p>
  <p>
    Eventfrog Entry is the custom-built admission control app for event tickets. Event organizers
    can download the app for free, select their next event and start scanning their visitors'
    tickets at the entry of the event venue.
  </p>
  <p>
    For Eventfrog I built, tested and integrated this app from scratch with the latest hybrid mobile
    app technologies.
  </p>
  <p>Tech stack is <i>Ionic Framework</i>, <i>Angular</i> and <i>TypeScript</i>.</p>
  <div class="portfolio-item__inner__stack-icons">
    <img
      src="<%= require('../../../asset/img/svg/tech/ionic-capacitor.svg') %>"
      loading="lazy"
      width="20"
      height="20"
      alt="Ionic Capacitor Icon"
    />
    <img
      src="<%= require('../../../asset/img/svg/tech/angular.svg') %>"
      width="20"
      height="20"
      loading="lazy"
      alt="Angular Icon"
    />
    <img
      src="<%= require('../../../asset/img/svg/tech/ts.svg') %>"
      width="20"
      height="20"
      loading="lazy"
      alt="TypeScript Icon"
    />
  </div>
  <a
    href="https://eventfrog.ch/en/organise/entry.html"
    target="_blank"
    class="portfolio-item__inner__visit-link"
  >
    Install App
  </a>
</div>
