<div class="portfolio-item__image">
  <a href="res/rsz.png" target="_blank">
    <picture>
      <source
        srcset="<%= require('../../../asset/img/png/portfolio/rsz.png') %>"
        type="image/png"
      />
      <source
        srcset="<%= require('../../../asset/img/png/portfolio/rsz_small.webp') %>"
        type="image/webp"
      />
      <img
        src="<%= require('../../../asset/img/png/portfolio/rsz_small.png') %>"
        alt="Eventfrog App Screenshot - Portfolio"
        loading="lazy"
      />
    </picture>
  </a>
</div>
<div class="portfolio-item__inner">
  <p class="portfolio-item__inner__title">Race Sim Zone</p>
  <p>
    For the sim racing venue Race Sim Zone I built a custom mobile app im 2022, aimed at customer
    retention, used as an event booking tool and information channel.
  </p>
  <p>Front end tech stack is Ionic <i>Capacitor</i>, <i>Angular</i> and <i>TypeScript</i>.</p>
  <p>In the back end I used <i>Strapi</i>.</p>
  <div class="portfolio-item__inner__stack-icons">
    <img
      src="<%= require('../../../asset/img/svg/tech/strapi.svg') %>"
      loading="lazy"
      width="20"
      height="20"
      alt="Strapi Icon"
    />
    <img
      src="<%= require('../../../asset/img/svg/tech/ionic-capacitor.svg') %>"
      loading="lazy"
      width="20"
      height="20"
      alt="Ionic Capacitor Icon"
    />
    <img
      src="<%= require('../../../asset/img/svg/tech/angular.svg') %>"
      width="20"
      height="20"
      loading="lazy"
      alt="Angular Icon"
    />
    <img
      src="<%= require('../../../asset/img/svg/tech/ts.svg') %>"
      width="20"
      height="20"
      loading="lazy"
      alt="TypeScript Icon"
    />
  </div>
  <a
    href="https://eventfrog.ch/en/organise/entry.html"
    target="_blank"
    class="portfolio-item__inner__visit-link"
  >
    Install App&nbsp;&nbsp;🡒
  </a>
</div>
