<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Lorem Ipsum dolor sit amet" />
    <title>Spezialsoftware fürs Internet | wehrli.me</title>
  </head>
  <body>
    <header class="header">
      <div class="header__inner">
        <div class="header__inner__logo">
          <img src="<%= require('./asset/img/svg/logo.svg') %>" alt="wehrli.me Logo" />
        </div>
        <nav class="header__inner__nav">
          <a href="#">Leistungen</a>
          <a href="#">Über mich</a>
          <a href="#">Technologie</a>
          <a href="#">Portfolio</a>
        </nav>
      </div>
    </header>
    <section>
      <div class="special-intro">
        <div class="special-intro__text">
          <!--<p class="special-intro__text__inner">
            Ich entwickle verbundene<br />
            Web-Apps, hybrid Apps und<br />
            Websites.
          </p>-->
          <h1 class="special-intro__text__inner">
            Ich entwickle <br />
            Spezialsoftware fürs Internet
          </h1>
          <div class="special-intro__text__contact">
            <p class="lead">
              Benötigen Sie eine massgeschneiderte<br />
              Software-Lösung für Ihre Unternehmung?
            </p>
            <a href="mailto:michel@wehrli.me" class="button button--gradient button--large">
              Kontaktieren Sie mich
            </a>
          </div>
        </div>
        <div class="special-intro__image">
          <!--<img src="<%= require('./asset/img/svg/blob.svg') %>" alt="Portrait von Michel Wehrli" />-->
          <img
            src="<%= require('./asset/img/jpg/shitty_portrait.jpg') %>"
            alt="Portrait von Michel Wehrli"
          />
        </div>
      </div>
      <article>
        <h2>Leistungen</h2>
        <p class="lead">
          Von der Entwicklung von Websites und mobile Apps und deren Anbindung an Backend-Systeme,
          über die Programmierung von Datenmanagementsystemen bis zum Consulting und Code-Auditing
          wage ich mich an jedes Problem heran.
        </p>
        <br /><br />
        <div class="staggered-list">
          <div class="staggered-list__col">
            <div class="staggered-list-cell accordion">
              <h3>Websites</h3>
              <p>
                Ich konzipiere und programmiere Ihre neue Website und verbinde sie mit einem Content
                Management System oder einem spezifischen Backend System.
              </p>
              <a class="staggered-list-cell__more accordion-visible">Mehr</a>
              <p class="accordion-hidden">
                Eine informative und übersichtliche Website ist heutzutags das wichtigste
                Marketing-Instrument für eine Firma. Sie macht das Unternehmen vertrauenswürdig und
                hilft Kunden bei der Evaluation von Aufträgen. Je professioneller die Website, desto
                einfacher ist es, Leads zu generieren und an Aufträge zu kommen.
              </p>
            </div>
            <div class="staggered-list-cell accordion">
              <h3>Datenmanagementsysteme</h3>
              <p>
                Ich konzipiere und entwickle speziell an Ihre Bedürfnisse angepasste Anwendungen zur
                Erfassung, Pflege und Analyse Ihrer Geschäftsdaten. Hier sind kaum Limits gesetzt.
                Gerne bespreche ich Ihre Idee unverbindlich mit Ihnen.
              </p>
              <a class="staggered-list-cell__more accordion-visible">Mehr</a>
              <div class="accordion-hidden">
                <p>
                  Um den langfristigen Erfolg Ihrer Unternehmung zu garantieren, ist die
                  unkomplizierte, verwaltbare und datenschutzkonforme Ablage Ihre Geschäftsdaten
                  unverzichtbar. Wenn die Beziehungen zwischen den Daten korrekt hergestellt sind,
                  lassen sich viele wichtige Informationen ableiten und der Erfolg Ihrer
                  Unternehmung besser messen.
                </p>
                <p>
                  Über Datenmanagementsysteme lassen sich beispielsweise Ihre Kunden besser in Ihre
                  Prozesse integrieren, was unter Anderem die Kundenzufriedenheit steigert und
                  messbar macht.
                </p>
              </div>
            </div>
            <div class="staggered-list-cell">
              <h3>Consulting</h3>
              <p>
                Nicht jeder kann ich allem Profi sein. Aus diesem Grund bin ich gerne Ihr Profi für
                alle Themen rund um die Softwareentwicklung im Webbereich. Ziehen Sie mich
                unkompliziert auf Stundenbasis für jegliche Fragen und Analysen herbei.
              </p>
            </div>
          </div>
          <div class="staggered-list__col">
            <div class="staggered-list-cell accordion">
              <h3>Mobile Apps</h3>
              <p>
                Gerne berate ich Sie über die Möglichkeiten einer mobile App und wenn es darum geht,
                eine App in Ihre Prozesse einzubinden.
              </p>
              <p>
                Anschliessend übernehme ich die Konzeption und Entwicklung und verbinde die App mit
                einem neuen oder bestehenden Backend System.
              </p>
              <a class="staggered-list-cell__more accordion-visible">Mehr</a>
              <p class="accordion-hidden">
                Smartphones sind fest in unseren Alltag integriert. Sehr viele Menschen verfügen
                zwar noch über einen Computer, sind aber grösstenteils über ihr Smartphone mit dem
                Internet verbunden. Als Unternehmen über eine mobile App zu verfügen, mit der Sie
                ihre Kunden direkt erreichen, ist daher äusserst wertvoll.
              </p>
            </div>
            <div class="staggered-list-cell accordion">
              <h3>Verbindung von Systemen</h3>
              <p>
                Ich analysiere Ihre bestehende Website- und App-Landschaft und entwickle ein
                massgeschneidertes Datenmanagementsystem. Ausserdem schliesse ich neue
                Datenkonsumenten an ein bestehendes Datenmanagementsystem an.
              </p>
              <a class="staggered-list-cell__more accordion-visible">Mehr</a>
              <p class="accordion-hidden">
                Websites, Apps und Datenmanagementsysteme können Hand in Hand entwickelt und
                miteinander verbunden werden. Die Pflege der Daten geschieht so an einem zentralen
                Ort und die Website(s), App(s) und weitere Datenkonsumenten werden unkompliziert
                angebunden.
              </p>
            </div>
            <div class="staggered-list-cell accordion">
              <h3>Codebase-Audits</h3>
              <p>
                Für Software-Teams bewerte ich diskret die Wartbarkeit der Codebase und stelle einen
                Bericht zusammen, was verbessert werden kann und auf welche Themen künftig geachtet
                werden müssen.
              </p>
              <a class="staggered-list-cell__more accordion-visible">Mehr</a>
              <p class="accordion-hidden">
                Software Code kann schnell kompliziert und unübersichtlich werden, was die Qualität
                von Software verringert und den Wartungsaufwand steigert.
              </p>
            </div>
          </div>
        </div>
      </article>
      <article class="article--centered article--max-width">
        <h2>Interesse geweckt?</h2>
        <p>Gerne können Sie mich unverbindlich kontaktieren.</p>
        <br />
        <a href="mailto:michel@wehrli.me" class="button button--gradient button--large">
          Kontaktieren
        </a>
      </article>
      <article>
        <h2>Über mich</h2>
        <p class="lead">
          Mit über 10 Jahren Erfahrung in der Entwicklung von Websites, hybrid Apps und
          individuellen Lösungen im Agentur-Bereich und der Produktentwicklung bin ich der ideale
          Partner für die Realisierung Ihrer Ideen.
        </p>
        <h4>Eventfrog AG</h4>
        <p>2020 - heute</p>
        <p>
          Bei Eventfrog bin ich als Frontend- und App-Fachverantwortlicher für die Evaluation der
          Frontend-Technologien zuständing und richte zusammen mit meinen Kollegen vom Business,
          Backend, Design und Marketing die Platform für die Zukunft aus. Zusätzlich bin ich für die
          Evaluation und Anstellung von personeller Verstärkung im Frontend-Team zuständig.
        </p>
        <p>
          Im Verlauf der letzten zwei Jahre war ich massgeblich in die Entwicklung diverser neue
          Features, standalone Anwendungen und Libraries involviert und durfte mein Wissen in der
          Frontend- und App-Entwicklung massiv erweitern.
        </p>
        <h4>Screenlight Interactive AG</h4>
        <p>2014 - 2020</p>
        <p>
          Bei der Screenlight Interactive AG war ich während sechs Jahren in die Entwicklung und
          Wartung diverser Webprojekte involviert und sammelte viel Erfahrung im
          (Key-)Account-Management. Von der übersichtlichen KMU-Website über den Website-Relaunch
          von namhaften Schweizer Kunden bis zur Entwicklung von massgeschneiderten Webanwendungen
          und mobile Apps war alles dabei.
        </p>
        <h4>Private Projekte</h4>
        <p>2012 - heute</p>
        <p>
          Über die Jahre entwickelte ich zahllose private Software-Projekte, sowie im Auftrag als
          auch nur für mich selbst. An manchen Projekten verdiente ich Geld und manche ziehen jeden
          Tag weltweite Besucher an, die meisten sind jedoch auf dem Code-Friedhof gelandet. Ich bin
          überzeugt, dass genau diese "Fails" mich zu einem erfahrenen Entwickler gemacht haben, der
          mit diversen Technologien umzugehen weiss und den so schnell nichts abschreckt. Ein Auszug
          meiner privaten Projekte findet sich im Portfolio.
        </p>
      </article>
      <article>
        <h2>Technologie</h2>
        <p class="lead">
          Bei der Entwicklung von Software setze ich grösstenteils auf Technologien denen JavaScript
          zugrunde liegt. Vorteilhaft ist das grosse Ökosystem und die Reduzierung auf eine
          Programmiersprache für die gesamte Codebase.
        </p>
        <br /><br />
        <div class="staggered-list">
          <div class="staggered-list__col">
            <div class="staggered-list-cell">
              <h3>Frontend</h3>
              <p>
                Unter dem Frontend versteht man alle Teile einer Webanwendung, die beim Benutzer auf
                dem Computer ausgeführt wird. Also jedes Teil, das vom Browser angezeigt wird und
                mit dem man interagieren kann.
              </p>
              <p>
                Hier setze ich auf das bewährte Framework "Angular". Angular ist weit verbreitet und
                profitiert von diesem riesigen Ökosystem welches darum existiert. Es wird
                kontinuierlich gewartet und erhält Updates und neue Versionen.
              </p>
              <p>
                Falls das Projekt nach einer "leichteren" Architektur verlangt, benutze ich
                Typescript, welches als Superset von JavaScript nach JavaScript kompiliert wird.
              </p>
              <p>Weitere verwendete Techonologien im Frontend sind HTML5 und SASS.</p>
            </div>
            <div class="staggered-list-cell">
              <h3>Apps</h3>
              <p>
                Apps können auf verschiedene Arten entwickelt werden. Meine Herangehensweise ist
                hier wieder, Apps in JavaScript zu entwickeln. Technologien wie NativeScript,
                ReactNative oder Ionic Capacitor kommen zum Einsatz.
              </p>
              <p>
                Dieser Weg ist enorm vorteilhaft, da man für die beiden populärsten Betriebssysteme
                iOS und Android nur eine einzige App schreibt und sich so einen haufen Aufwand und
                Geld spart.
              </p>
              <p>Ebenfalls wie im Frontend nutze ich für Apps HTML5 und SASS.</p>
            </div>
          </div>
          <div class="staggered-list__col">
            <div class="staggered-list-cell">
              <h3>Backend</h3>
              <p>
                Unter dem Backend versteht man als Gegensatz zum Frontend alle Teile einer
                Webanwendung, die auf einem Server ausgeführt werden und auch laufen, wenn der
                Benutzer nicht mit der Software interagiert.
              </p>
              <p>
                Auch hier verwende ich TypeScript als Programmiersprache, jedoch in Kombination mit
                Node.JS. Node.JS kann JavaScript wie ein Browser ausführen, läuft jedoch als Service
                auf einem Server, wo es HTTP-Requests verarbeitet und beantwortet.
              </p>
              <p>Um Datenbanken anzubinden vertraue ich auf ORMs wie MikroORM oder TypeORM.</p>
            </div>
            <div class="staggered-list-cell">
              <h3>Datenbanken</h3>
              <p>
                Ich arbeite am liebsten mit relationalen Datenbanksystemen wie SQL, da
                Datenabhängigkeiten hier bereits in der Datenbank-Struktur abgebildet werden können
                und nicht auf Software-Ebene gehandhabt werden müssen. MariaDB, SQLite, MySQL,
                PostgreSQL sind mögliche Datenbanksysteme.
              </p>
              <p>
                Aber auch NoSQL Systeme wie MongoDB oder in-memory Datenbanken wie Redis kommen zum
                Einsatz, wenn es der Use-Case verlangt.
              </p>
            </div>
            <div class="staggered-list-cell">
              <h3>Server</h3>
              <p>
                Als Webserver-Technologie nutze ich je nach Verfügbarkeit Nginx oder Apache und
                Linux als Betriebssystem.
              </p>
            </div>
          </div>
        </div>
        <article>
          <h2>Portfolio</h2>
          <p class="lead">Hier finden Sie eine Selektion meiner Projekte.</p>
          <br />
          <br />
          <div class="portfolio">
            <div class="portfolio__item">
              <div class="portfolio__item__image">
                <img src="<%= require('./asset/img/png/portfolio/datapot.png') %>" lazy="true" />
              </div>
              <div class="portfolio__item__inner">
                <p class="portfolio__item__inner__title">Datapot CRM</p>
                <p class="portfolio__item__inner__text">
                  Das Datapot CRM ist eine massgeschneiderte CRM-Lösung, welche ab dem Jahr 2017 bis
                  heute für die 3pmw gmbh entwickelt und gewartet wird. Das CRM bietet die
                  Möglichkeit, Kontakt-, Firmen- und diverse Stammdaten zu erfassen, ins O365 zu
                  exportieren und auf verschiedene weitere Weisen weiter zu verarbeiten.
                </p>
                <p>
                  Zur Anwendung kamen bei diesem Projekt SQLite, MikroORM, Express, Node.JS,
                  Angular, HTML5 und SASS.
                </p>
              </div>
            </div>
            <div class="portfolio__item">
              <div class="portfolio__item__image">
                <img
                  src="<%= require('./asset/img/png/portfolio/affolterarchitekten.png') %>"
                  lazy="true"
                />
              </div>
              <div class="portfolio__item__inner">
                <p class="portfolio__item__inner__title">Affolter Architekten</p>
                <p class="portfolio__item__inner__text">
                  Diese Corporate-Website wurde im Jahr 2022 entwickelt, um die junge Firma optimal
                  im Internet zu vertreten. Es handelt sich um einen One-Pager mit einer
                  massgeschneiderten CMS Lösung in PHP, TypeScript, HTML5 und SASS.
                </p>
                <a
                  href="https://www.affolterarchitekten.ch"
                  target="_blank"
                  class="portfolio__item__inner__visit-link"
                >
                  Besuchen
                </a>
              </div>
            </div>
            <div class="portfolio__item">
              <div class="portfolio__item__image">
                <img src="<%= require('./asset/img/png/portfolio/mageba.png') %>" lazy="true" />
              </div>
              <div class="portfolio__item__inner">
                <p class="portfolio__item__inner__title">Mageba Global</p>
                <p class="portfolio__item__inner__text">
                  Den Relaunch der Corporate-Website von Mageba wurde im Jahr 2020 abgeschlossen.
                  Die Website beinhaltet eine Projekt-, Referenz- und Dokumenten-Verwaltung, welche
                  im Frontend abgebildet wird. Sowohl Backend- als auch Frontend-Entwicklung sowie
                  das Key-Account-Management wurde von mir durchgeführt.
                </p>
                <p>
                  Dieses Projekt wurde während meiner Anstellung bei der Screenlight Interactive AG
                  durchgeführt.
                </p>
                <a
                  href="https://www.mageba.ch"
                  target="_blank"
                  class="portfolio__item__inner__visit-link"
                >
                  Besuchen
                </a>
              </div>
            </div>
            <div class="portfolio__item">
              <div class="portfolio__item__image">
                <img src="<%= require('./asset/img/png/portfolio/3pmw.png') %>" lazy="true" />
              </div>
              <div class="portfolio__item__inner">
                <p class="portfolio__item__inner__title">3pmw projekte & management gmbh</p>
                <p class="portfolio__item__inner__text">
                  Diese Corporate-Website für die 3pmw gmbh wurde im Jahr 2017 abgeschlossen und
                  bietet mit Wordpress als CMS alle Funktionen einer modernen CMS Software.
                </p>
                <a
                  href="https://www.3pmw.ch"
                  target="_blank"
                  class="portfolio__item__inner__visit-link"
                >
                  Besuchen
                </a>
              </div>
            </div>
            <div class="portfolio__item">
              <div class="portfolio__item__image">
                <img src="<%= require('./asset/img/png/portfolio/genderai.png') %>" lazy="true" />
              </div>
              <div class="portfolio__item__inner">
                <p class="portfolio__item__inner__title">genderai.com</p>
                <p class="portfolio__item__inner__text">
                  Das genderAI Web-Tool bietet die Möglichkeit, Namen in ihr entsprechendes
                  Geschlecht umzuwandeln. Dies wird durch AI ermöglicht.
                </p>
                <p>
                  Dieses Projekt entstand 2019 und wurde seither ein paar mal neu geschrieben und in
                  einen anderen Stack transportiert.
                </p>
                <p>Verwendet wird Synaptic, Node.JS mit Express, Angular, HTML5 und SASS.</p>
                <a
                  href="https://www.genderai.com"
                  target="_blank"
                  class="portfolio__item__inner__visit-link"
                >
                  Besuchen
                </a>
              </div>
            </div>
          </div>
        </article>

        <!--<div class="quote">
          <p class="quote__text">
            "Any application that can be written in JavaScript, will eventually be written in
            JavaScript."
          </p>
          <p class="quote__name">Atwood's Law, Jeff Atwood</p>
        </div>-->
      </article>
      <article class="article--centered article--max-width">
        <h2>Noch nicht überzeugt?</h2>
        <p>
          Gerne kann ich Ihnen mehr Informationen zu meiner Person oder meinem Portfolio zukommen
          lassen.
        </p>
        <p>Unkompliziert zum Kaffee geht natürlich auch! ☕</p>
        <br />
        <a href="mailto:michel@wehrli.me" class="button button--gradient button--large">
          Überzeugen lassen
        </a>
      </article>
    </section>
    <footer>
      <div class="footer__inner">
        <div class="footer__inner__left">
          <p class="threepmw">
            Eine Unternehmung der
            <a href="https://3pmw.ch" target="_blank" class="threepmw">3pmw gmbh</a>.
          </p>
          <br />
          <p>
            3pmw projekte & management GmbH<br />
            z.Hd. Michel Wehrli<br />
            Grenzweg 1<br />
            5033 Buchs
          </p>
          <p>
            <a href="mailto:michel@wehrli.me">info@wehrli.me</a><br />
            <a href="tel:+41 76 345 63 46">+41 76 345 63 46</a>
          </p>
        </div>
        <div class="footer__inner__center">
          <img src="<%= require('./asset/img/svg/logo.svg') %>" alt="wehrli.me Logo" />
        </div>
        <div class="footer__inner__right">
          <div></div>
          <div>
            <p>
              <a href="#">Impressum</a><br />
              <a href="#">Datenschutz</a>
            </p>
            <br />
            <p>&copy; 2022 wehrli.me<br /></p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
