<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Lorem Ipsum dolor sit amet" />
    <title>Spezialsoftware fürs Internet | wehrli.me</title>
  </head>
  <body>
    <header class="header">
      <div class="header__inner">
        <div class="header__inner__logo">
          <img src="<%= require('./asset/img/svg/logo.svg') %>" alt="wehrli.me Logo" />
        </div>
        <nav class="header__inner__nav">
          <a href="#">Leistungen</a>
          <a href="#">Über mich</a>
          <a href="#">Technologie</a>
          <a href="#">Portfolio</a>
        </nav>
      </div>
    </header>
    <section>
      <div class="special-intro">
        <div class="special-intro__text">
          <!--<p class="special-intro__text__inner">
            Ich entwickle verbundene<br />
            Web-Apps, hybrid Apps und<br />
            Websites.
          </p>-->
          <h1 class="special-intro__text__inner">
            Ich entwickle <br />
            Spezialsoftware fürs Internet
          </h1>
          <div class="special-intro__text__contact">
            <p class="lead">
              Benötigen Sie eine massgeschneiderte<br />
              Software-Lösung für Ihre Unternehmung?
            </p>
            <a href="mailto:michel@wehrli.me" class="button button--gradient button--large">
              Kontaktieren Sie mich
            </a>
          </div>
        </div>
        <div class="special-intro__image">
          <img src="<%= require('./asset/img/svg/blob.svg') %>" alt="Portrait von Michel Wehrli" />
        </div>
      </div>
      <article>
        <h2>Leistungen</h2>
        <p class="lead">
          Von der Entwicklung von Websites und mobile Apps und deren Anbindung an Backend-Systeme,
          über die Programmierung von Datenmanagementsystemen bis zum Consulting und Code-Auditing
          wage ich mich professionell an jedes Problem heran.
        </p>
        <br /><br />
        <div class="staggered-list">
          <div class="staggered-list__col">
            <div class="staggered-list-cell">
              <h3>Websites</h3>
              <p>
                Eine informative und übersichtliche Website ist heutzutags das wichtigste
                Marketing-Instrument für eine Firma. Sie macht das Unternehmen vertrauenswürdig und
                hilft Kunden bei der Evaluation von Aufträgen. Je professioneller die Website, desto
                einfacher ist es, Leads zu generieren und an Aufträge zu kommen.
              </p>
              <p>
                Ich konzipiere und programmiere Ihre neue Website und verbinde sie mit einem Content
                Management System oder einem spezifischen Backend System.
              </p>
            </div>
            <div class="staggered-list-cell">
              <h3>Datenmanagementsysteme</h3>
              <p>
                Um den langfristigen Erfolg Ihrer Unternehmung zu garantieren, ist die
                unkomplizierte, verwaltbare und datenschutzkonforme Ablage Ihre Geschäftsdaten
                unverzichtbar. Wenn die Beziehungen zwischen den Daten korrekt hergestellt sind,
                lassen sich viele wichtige Informationen ableiten und der Erfolg Ihrer Unternehmung
                besser messen.
              </p>
              <p>
                Über Datenmanagementsysteme lassen sich beispielsweise Ihre Kunden besser in Ihre
                Prozesse integrieren, was unter Anderem die Kundenzufriedenheit steigert und messbar
                macht.
              </p>
              <p>
                Ich konzipiere und entwickle speziell an Ihre Bedürfnisse angepasste Anwendungen zur
                Erfassung, Pflege und Analyse Ihrer Geschäftsdaten. Hier sind kaum Limits gesetzt.
                Gerne bespreche ich Ihre Idee unverbindlich mit Ihnen.
              </p>
            </div>
            <div class="staggered-list-cell">
              <h3>Consulting</h3>
              <p>
                Nicht jeder kann ich allem Profi sein. Aus diesem Grund bin ich gerne Ihr Profi für
                alle Themen rund um die Softwareentwicklung im Webbereich. Ziehen Sie mich
                unkompliziert auf Stundenbasis für jegliche Fragen und Analysen herbei.
              </p>
            </div>
          </div>
          <div class="staggered-list__col">
            <div class="staggered-list-cell">
              <h3>Mobile Apps</h3>
              <p>
                Smartphones sind fest in unseren Alltag integriert. Sehr viele Menschen verfügen
                zwar noch über einen Computer, sind aber grösstenteils über ihr Smartphone mit dem
                Internet verbunden. Als Unternehmen über eine mobile App zu verfügen, mit der Sie
                ihre Kunden direkt erreichen, ist daher äusserst wertvoll.
              </p>
              <p>
                Gerne berate ich Sie über die Möglichkeiten einer mobile App und wenn es darum geht,
                eine App in Ihre Prozesse einzubinden. Anschliessend übernehme ich die Konzeption
                und Entwicklung und verbinde die App mit einem neuen oder bestehenden Backend
                System.
              </p>
            </div>
            <div class="staggered-list-cell">
              <h3>Verbindung von Systemen</h3>
              <p>
                Websites, Apps und Datenmanagementsysteme können Hand in Hand entwickelt und
                miteinander verbunden werden. Die Pflege der Daten geschieht so an einem zentralen
                Ort und die Website(s), App(s) und weitere Datenkonsumenten werden unkompliziert
                angebunden.
              </p>
              <p>
                Ich analysiere Ihre bestehende Website- und App-Landschaft und entwickle ein
                massgeschneidertes Datenmanagementsystem. Ausserdem schliesse ich neue
                Datenkonsumenten an ein bestehendes Datenmanagementsystem an.
              </p>
            </div>
            <div class="staggered-list-cell">
              <h3>Codebase-Audits</h3>
              <p>
                Software Code kann schnell kompliziert und unübersichtlich werden, was die Qualität
                von Software verringert und den Wartungsaufwand steigert.
              </p>
              <p>
                Für Software-Teams bewerte ich diskret die Wartbarkeit der Codebase und stelle einen
                Bericht zusammen, was verbessert werden kann und auf welche Themen künftig geachtet
                werden müssen.
              </p>
            </div>
          </div>
        </div>
      </article>
      <article class="article--centered article--max-width">
        <h2>Interesse geweckt?</h2>
        <p>Gerne können Sie mich unverbindlich kontaktieren.</p>
        <br />
        <a href="mailto:michel@wehrli.me" class="button button--gradient button--large">
          Kontaktieren
        </a>
      </article>
      <article>
        <h2>Über mich</h2>
        <p class="lead">
          Mit über 10 Jahren Erfahrung in der Entwicklung von Websites, hybrid Apps und
          individuellen Lösungen im Agentur-Alltag und der Produktentwicklung bin ich der ideale
          Partner für die Realisierung Ihrer Ideen.
        </p>
      </article>
      <article>
        <h2>Technologie</h2>
        <p class="lead">
          Bei der Entwicklung von Software setze ich grösstenteils auf Technologien denen JavaScript
          zugrunde liegt. Vorteilhaft ist das grosse Ökosystem und die Reduzierung auf eine
          Programmiersprache für die gesamte Codebase.
        </p>
        <br /><br />

        <div class="staggered-list">
          <div class="staggered-list__col">
            <div class="staggered-list-cell">
              <h3>Frontend</h3>
              <p>
                Unter dem Frontend versteht man alle Teile einer Webanwendung, die beim Benutzer auf
                dem Computer ausgeführt wird. Also jedes Teil, das vom Browser angezeigt wird und
                mit dem man interagieren kann.
              </p>
              <p>
                Hier setze ich auf das bewährte Framework "Angular". Angular ist weit verbreitet und
                profitiert von diesem riesigen Ökosystem welches darum existiert. Es wird
                kontinuierlich gewartet und erhält Updates und neue Versionen.
              </p>
              <p>
                Falls das Projekt nach einer "leichteren" Architektur verlangt, benutze ich
                Typescript, welches als Superset von JavaScript nach JavaScript kompiliert wird.
              </p>
              <p>Weitere verwendete Techonologien im Frontend sind HTML5 und SASS.</p>
            </div>
            <div class="staggered-list-cell">
              <h3>Apps</h3>
              <p>
                Apps können auf verschiedene Arten entwickelt werden. Meine Herangehensweise ist
                hier wieder, Apps in JavaScript zu entwickeln. Technologien wie NativeScript,
                ReactNative oder Ionic Capacitor kommen zum Einsatz.
              </p>
              <p>
                Dieser Weg ist enorm vorteilhaft, da man für die beiden populärsten Betriebssysteme
                iOS und Android nur eine einzige App schreibt und sich so einen haufen Aufwand und
                Geld spart.
              </p>
              <p>Ebenfalls wie im Frontend nutze ich für Apps HTML5 und SASS.</p>
            </div>
          </div>
          <div class="staggered-list__col">
            <div class="staggered-list-cell">
              <h3>Backend</h3>
              <p>
                Unter dem Backend versteht man als Gegensatz zum Frontend alle Teile einer
                Webanwendung, die auf einem Server ausgeführt werden und auch laufen, wenn der
                Benutzer nicht mit der Software interagiert.
              </p>
              <p>
                Auch hier verwende ich TypeScript als Programmiersprache, jedoch in Kombination mit
                Node.JS. Node.JS kann JavaScript wie ein Browser ausführen, läuft jedoch als Service
                auf einem Server, wo es HTTP-Requests verarbeitet und beantwortet.
              </p>
              <p>Um Datenbanken anzubinden vertraue ich auf ORMs wie MikroORM oder TypeORM.</p>
            </div>
            <div class="staggered-list-cell">
              <h3>Datenbanken</h3>
              <p>
                Ich arbeite am liebsten mit relationalen Datenbanksystemen wie SQL, da
                Datenabhängigkeiten hier bereits in der Datenbank-Struktur abgebildet werden können
                und nicht auf Software-Ebene gehandhabt werden müssen. MariaDB, SQLite, MySQL,
                PostgreSQL sind mögliche Datenbanksysteme.
              </p>
              <p>
                Aber auch NoSQL Systeme wie MongoDB oder in-memory Datenbanken wie Redis kommen zum
                Einsatz, wenn es der Use-Case verlangt.
              </p>
            </div>
            <div class="staggered-list-cell">
              <h3>Server</h3>
              <p>
                Als Webserver-Technologie nutze ich je nach Verfügbarkeit Nginx oder Apache und
                Linux als Betriebssystem.
              </p>
            </div>
          </div>
        </div>
        <article>
          <h2>Portfolio</h2>
        </article>

        <!--<div class="quote">
          <p class="quote__text">
            "Any application that can be written in JavaScript, will eventually be written in
            JavaScript."
          </p>
          <p class="quote__name">Atwood's Law, Jeff Atwood</p>
        </div>-->
      </article>
      <article class="article--centered article--max-width">
        <h2>Noch nicht überzeugt?</h2>
        <p>
          Gerne kann ich Ihnen mehr Informationen zu meiner Person oder meinem Portfolio zukommen
          lassen.
        </p>
        <p>Unkompliziert zum Kaffee geht natürlich auch! ☕</p>
        <br />
        <a href="mailto:michel@wehrli.me" class="button button--gradient button--large">
          Überzeugen lassen
        </a>
      </article>
    </section>
    <footer>
      <div class="footer__inner">
        <div class="footer__inner__left">
          <p>
            Eine Unternehmung der
            <a href="https://3pmw.ch" target="_blank" class="threepmw">3pmw gmbh</a>.
          </p>
          <br />
          <p>
            3pmw projekte & management GmbH<br />
            z.Hd. Michel Wehrli<br />
            Grenzweg 1<br />
            5033 Buchs
          </p>
          <p>
            <a href="mailto:michel@wehrli.me">info@wehrli.me</a><br />
            <a href="tel:+41 76 345 63 46">+41 76 345 63 46</a>
          </p>
        </div>
        <div class="footer__inner__center">
          <img src="<%= require('./asset/img/svg/logo.svg') %>" alt="wehrli.me Logo" />
        </div>
        <div class="footer__inner__right">
          <div></div>
          <div>
            <p>
              <a href="#">Impressum</a><br />
              <a href="#">Datenschutz</a>
            </p>
            <br />
            <p>&copy; 2022 wehrli.me<br /></p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
