<!DOCTYPE html>
<html lang=":lang">
  <head>
    <title>Custom web solutions</title>
    <meta name="title" content="Custom web solutions | Michel Wehrli" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Custom web solutions: Websites, mobile apps, complex systems. From architecture to integration - your project in the best hands."
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <meta name="language" content="de-CH" />
    <meta name="author" content="Michel Wehrli" />
    <meta name="designer" content="Michel Wehrli" />
    <meta name="publisher" content="Michel Wehrli" />
    <meta name="web_author" content="Michel Wehrli" />
    <meta name="revisit-after" content="7 days" />
    <meta name="distribution" content="web" />
    <meta name="rating" content="general" />
    <meta name="rating" content="safe for kids" />
    <meta name="reply-to" content="hallo@wehrli.me" />
    <meta name="city" content="Aarau" />
    <meta name="country" content="CH" />
    <meta name="color-scheme" content="light only" />

    <meta property="og:title" content="Custom web solutions | Michel Wehrli" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.wehrli.me/" />
    <meta property="og:image" content="https://www.wehrli.me/favicon.png" />

    <meta name="robots" />

    <link rel="canonical" href="https://www.wehrli.me/" />

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://www.wehrli.me",
        "name": "wehrli.me",
        "address": {
          "addressCountry": "Switzerland",
          "addressRegion": "Aargau",
          "postalCode": "5034",
          "streetAddress": "Gysulaweg 7"
        },
        "areaServed": "Switzerland",
        "email": "hallo@wehrli.me",
        "founder": {
          "name": "Michel Wehrli"
        },
        "description": "Custom web solutions: Websites, mobile apps, complex systems. From architecture to integration - your project in the best hands.",
        "knowsAbout": "software engineering, web software, programming, software development, software consulting, typescript, javascript, html, css, node.js",
        "knowsLanguage": "de, en",
        "numberOfEmployees": 1,
        "logo": "https://www.wehrli.me<%= require('./asset/img/png/logo_gradient.png') %>",
        "image": "https://www.wehrli.me<%= require('./asset/img/png/logo_gradient.png') %>",
        "slogan": "Custom web solutions",
        "hasOfferCatalog": {
          "@type": "OfferCatalog",
          "name": "Web software services",
          "itemListElement": [
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "Development of Software for the Web"
              }
            },
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "Codebase Audits"
              }
            },
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "Web Consulting"
              }
            }
          ]
        }
      }
    </script>

    <script type="text/javascript">
      ;(window.heap = window.heap || []),
        (heap.load = function (e, t) {
          ;(window.heap.appid = e), (window.heap.config = t = t || {})
          var r = document.createElement('script')
          ;(r.type = 'text/javascript'),
            (r.async = !0),
            (r.defer = !0),
            (r.src = 'https://cdn.heapanalytics.com/js/heap-' + e + '.js')
          var a = document.getElementsByTagName('script')[0]
          a.parentNode.insertBefore(r, a)
          for (
            var n = function (e) {
                return function () {
                  heap.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                }
              },
              p = [
                'addEventProperties',
                'addUserProperties',
                'clearEventProperties',
                'identify',
                'resetIdentity',
                'removeEventProperty',
                'setEventProperties',
                'track',
                'unsetEventProperty',
              ],
              o = 0;
            o < p.length;
            o++
          )
            heap[p[o]] = n(p[o])
        })
      heap.load('6937986')
    </script>
  </head>
  <body>
    <a class="anchor" name="start" title="start"></a>
    <route></route>
    <include path="includes/footer.html"></include>
  </body>
</html>
