<article class="article article--standalone article--reference">
  <div class="browser-window">
    <div class="browser-window__top">
      <span class="browser-window__top__dot"></span>
      <span class="browser-window__top__dot"></span>
      <span class="browser-window__top__dot"></span>
    </div>
    <div class="browser-window__content">
      <picture>
        <source
          srcset="<%= require('../../asset/img/png/portfolio/3pmw.webp') %>"
          type="image/webp"
        />
        <source
          srcset="<%= require('../../asset/img/png/portfolio/3pmw.png') %>"
          type="image/jpeg"
        />
        <img
          src="../../res/3pmw.png"
          class="article--reference__img"
          width="888"
          height="500"
          alt="3pmw project heading image"
        />
      </picture>
    </div>
  </div>

  <h1>3pmw Website</h1>
  <p class="lead">
    <!-- lang:en -->
    This website provides insights into 3pmw's project management services, past projects, and the
    professional team involved. Designed for user-friendliness, the website aims to offer valuable
    information and transparency to potential clients.
    <!-- /lang:en -->
    <!-- lang:de -->
    Die Website bietet Einblicke in die Projektmanagement-Dienstleistungen von 3pmw, in vergangene
    Projekte und in das professionelle Team. Die Website ist benutzerfreundlich gestaltet und soll
    potenziellen Kunden wertvolle Informationen und Transparenz bieten.
    <!-- /lang:de -->
  </p>
  <div class="tags">
    <p class="tag">Corporate Website</p>
    <p class="tag">WordPress</p>
  </div>
  <br />
  <br />
  <a href="https://www.3pmw.ch" target="_blank" class="button button--gradient">
    <!-- lang:en -->
    Visit 3pmw.ch
    <!-- /lang:en -->
    <!-- lang:de -->
    3pmw.ch besuchen
    <!-- /lang:de -->
  </a>
  <br />
  <h2>Motivation</h2>
  <p class="max-width-900">
    <!-- lang:en -->
    The motivation behind creating a new website for "3pmw Projekte & Management" stems from a
    commitment to effectively showcase their dynamic project management services. As a young and
    innovative small business, establishing a strong online presence is essential for reaching a
    broader audience. The new website serves as a comprehensive platform to inform users about the
    diverse range of services offered by 3pmw Projekte & Management. It provides valuable insights
    into their successful projects, highlights key clients, and introduces the talented individuals
    comprising their team. The goal is to not only enhance visibility but also to offer a
    user-friendly space where potential clients can gain a thorough understanding of the company's
    capabilities, fostering trust and engagement.
    <!-- /lang:en -->
    <!-- lang:de -->
    Die Motivation für die Erstellung einer neuen Website für "3pmw Projekte & Management" liegt in
    dem Bestreben, ihre dynamischen Projektmanagement-Dienstleistungen wirksam zu präsentieren. Als
    junges und innovatives Kleinunternehmen ist eine starke Online-Präsenz unerlässlich, um ein
    breiteres Publikum zu erreichen. Die neue Website dient als umfassende Plattform, um die
    NutzerInnen über das vielfältige Leistungsangebot von 3pmw Projekte & Management zu informieren.
    Sie bietet wertvolle Einblicke in die erfolgreichen Projekte, stellt wichtige Kunden vor und
    präsentiert die Talente des Teams. Ziel ist es, nicht nur die Sichtbarkeit zu erhöhen, sondern
    auch einen benutzerfreundlichen Raum zu bieten, in dem potenzielle Kunden ein umfassendes
    Verständnis der Fähigkeiten des Unternehmens erlangen können, um Vertrauen und Engagement zu
    fördern.
    <!-- /lang:de -->
  </p>
  <p class="max-width-900">
    <!-- lang:en -->
    By crafting an intuitive and informative website, we aim to seamlessly communicate the company's
    ethos, services, and expertise. The site serves as a digital window into 3pmw Projekte &
    Management's world, facilitating easy navigation for users seeking information about their
    project management services, past projects, clientele, and the skilled professionals driving
    their success. This strategic online presence aligns with the company's growth aspirations,
    ensuring they leave a lasting impression on visitors and potential clients, ultimately
    contributing to their continued success in the competitive project management services
    landscape.
    <!-- /lang:en -->
    <!-- lang:de -->
    Durch die Gestaltung einer intuitiven und informativen Website wollen wir das Ethos, die
    Dienstleistungen und die Expertise des Unternehmens nahtlos vermitteln. Die Website dient als
    digitales Fenster in die Welt von 3pmw Projekte & Management und erleichtert den Nutzern die
    Navigation, wenn sie Informationen über die Projektmanagement-Dienstleistungen, frühere
    Projekte, Kunden und die Fachleute, die den Erfolg des Unternehmens ausmachen, suchen. Diese
    strategische Online-Präsenz steht im Einklang mit den Wachstumszielen des Unternehmens und
    stellt sicher, dass es einen bleibenden Eindruck bei Besuchern und potenziellen Kunden
    hinterlässt, was letztendlich zu seinem anhaltenden Erfolg in der wettbewerbsintensiven
    Projektmanagement-Landschaft beiträgt.
    <!-- /lang:de -->
  </p>
  <h2>Tech stack</h2>
  <p class="max-width-900">
    <!-- lang:en -->
    Employing WordPress, I constructed the website for "3pmw Projekte & Management," emphasizing its
    user-friendly content management capabilities. The intuitive interface of WordPress ensures that
    the company's personnel can easily update and manage content without technical expertise. This
    streamlined process enables efficient content maintenance, empowering the team to keep the
    website current with the latest information about project management services, successful
    projects, and team members.
    <!-- /lang:en -->
    <!-- lang:de -->
    Mit WordPress habe ich die Website für "3pmw Projekte & Management" erstellt, wobei die
    benutzerfreundlichen Content-Management-Funktionen im Vordergrund standen. Die intuitive
    Oberfläche von WordPress stellt sicher, dass die Mitarbeiter des Unternehmens die Inhalte auch
    ohne technisches Fachwissen einfach aktualisieren und verwalten können. Dieser schlanke Prozess
    ermöglicht eine effiziente Pflege der Inhalte und versetzt das Team in die Lage, die Website mit
    den neuesten Informationen über Projektmanagement-Dienstleistungen, erfolgreiche Projekte und
    Teammitglieder aktuell zu halten.
    <!-- /lang:de -->
  </p>
</article>
