<article class="article article--standalone article--reference">
  <div class="browser-window">
    <div class="browser-window__top">
      <span class="browser-window__top__dot"></span>
      <span class="browser-window__top__dot"></span>
      <span class="browser-window__top__dot"></span>
    </div>
    <div class="browser-window__content">
      <picture>
        <source
          srcset="<%= require('../../asset/img/png/portfolio/3pmw.webp') %>"
          type="image/webp"
        />
        <source
          srcset="<%= require('../../asset/img/png/portfolio/3pmw.png') %>"
          type="image/jpeg"
        />
        <img
          src="../../res/3pmw.png"
          class="article--reference__img"
          width="888"
          height="500"
          alt="3pmw project heading image"
        />
      </picture>
    </div>
  </div>

  <h1>3pmw Website</h1>
  <p class="lead">
    This website provides insights into 3pmw's project management services, past projects, and the
    professional team involved. Designed for user-friendliness, the website aims to offer valuable
    information and transparency to potential clients.
  </p>
  <div class="tags">
    <p class="tag">Corporate Website</p>
    <p class="tag">WordPress</p>
  </div>
  <br />
  <br />
  <a href="https://www.3pmw.ch" target="_blank" class="button button--gradient"> Visit 3pmw.ch </a>
  <br />
  <h2>Motivation</h2>
  <p class="max-width-900">
    The motivation behind creating a new website for "3pmw Projekte & Management" stems from a
    commitment to effectively showcase their dynamic project management services. As a young and
    innovative small business, establishing a strong online presence is essential for reaching a
    broader audience. The new website serves as a comprehensive platform to inform users about the
    diverse range of services offered by 3pmw Projekte & Management. It provides valuable insights
    into their successful projects, highlights key clients, and introduces the talented individuals
    comprising their team. The goal is to not only enhance visibility but also to offer a
    user-friendly space where potential clients can gain a thorough understanding of the company's
    capabilities, fostering trust and engagement.
  </p>
  <p class="max-width-900">
    By crafting an intuitive and informative website, we aim to seamlessly communicate the company's
    ethos, services, and expertise. The site serves as a digital window into 3pmw Projekte &
    Management's world, facilitating easy navigation for users seeking information about their
    project management services, past projects, clientele, and the skilled professionals driving
    their success. This strategic online presence aligns with the company's growth aspirations,
    ensuring they leave a lasting impression on visitors and potential clients, ultimately
    contributing to their continued success in the competitive project management services
    landscape.
  </p>
  <h2>Tech stack</h2>
  <p class="max-width-900">
    Employing WordPress, I constructed the website for "3pmw Projekte & Management," emphasizing its
    user-friendly content management capabilities. The intuitive interface of WordPress ensures that
    the company's personnel can easily update and manage content without technical expertise. This
    streamlined process enables efficient content maintenance, empowering the team to keep the
    website current with the latest information about project management services, successful
    projects, and team members.
  </p>
</article>
