<article class="article article--standalone article--reference">
  <div class="browser-window">
    <div class="browser-window__top">
      <span class="browser-window__top__dot"></span>
      <span class="browser-window__top__dot"></span>
      <span class="browser-window__top__dot"></span>
    </div>
    <div class="browser-window__content">
      <picture>
        <source
          srcset="<%= require('../../asset/img/png/portfolio/affolterarchitekten.webp') %>"
          type="image/webp"
        />
        <source
          srcset="<%= require('../../asset/img/png/portfolio/affolterarchitekten.png') %>"
          type="image/jpeg"
        />
        <img
          src="../../res/affolterarchitekten.png"
          class="article--reference__img"
          width="888"
          height="500"
          alt="Affolter Architekten project heading image"
        />
      </picture>
    </div>
  </div>

  <h1>Affolter Architekten Website</h1>
  <p class="lead">
    In crafting Affolter Architekten's website, I seamlessly integrated a custom TypeScript frontend
    with HTML and CSS, ensuring a visually engaging and dynamic user experience. Complementing this,
    I implemented a PHP CMS for effortless content updates, providing a user-friendly platform to
    showcase the companies services with ease.
  </p>
  <div class="tags">
    <p class="tag">Corporate Website</p>
    <p class="tag">PHP</p>
    <p class="tag">TypeScript</p>
  </div>
  <br />
  <br />
  <a href="https://www.affolterarchitekten.ch" target="_blank" class="button button--gradient">
    Visit affolterarchitekten.ch
  </a>
  <br />
  <h2>Motivation</h2>
  <p class="max-width-900">
    For Affolter Architekten, a budding architectural firm seeking a straightforward online
    presence, I developed a custom frontend using TypeScript and fundamental web technologies. This
    tailored frontend, crafted with precision, provides a seamless and engaging user experience.
    Leveraging the power of TypeScript enhances the codebase's robustness, ensuring a reliable and
    efficient frontend.
  </p>
  <p class="max-width-900">
    Complementing this, I created a bespoke Content Management System (CMS) in PHP to empower
    Affolter Architekten with the ability to effortlessly update and manage their website content.
    This custom CMS, tailored to their specific needs, allows for easy additions and modifications
    to showcase their projects, services, and team. The integration of this PHP-based CMS ensures
    that the architects can maintain an up-to-date and visually compelling single-page website,
    perfectly reflecting the essence of their company.
  </p>
  <h2>Tech stack</h2>
  <p class="max-width-900">
    In curating the tech stack for Affolter Architekten's website, I carefully selected a
    combination of TypeScript, HTML, and CSS. TypeScript served as the backbone for the custom
    frontend, contributing dynamic functionalities that enhance the overall user experience.
    Meanwhile, the judicious use of HTML and CSS provided the structural foundation and aesthetic
    styling, ensuring a visually engaging and cohesive design that resonates with the architectural
    firm's ethos.
  </p>
  <p class="max-width-900">
    Complementing this frontend synergy, I implemented a robust PHP-based Content Management System
    (CMS). This choice in the backend technology empowers Affolter Architekten with an intuitive
    platform for effortless content updates. The harmonious integration of TypeScript, HTML, CSS,
    and PHP not only prioritizes functionality and aesthetics but also aligns seamlessly with the
    firm's objective of maintaining a modern, visually appealing, and user-friendly online presence.
  </p>
</article>
