<article class="article article--standalone article--reference">
  <div class="browser-window">
    <div class="browser-window__top">
      <span class="browser-window__top__dot"></span>
      <span class="browser-window__top__dot"></span>
      <span class="browser-window__top__dot"></span>
    </div>
    <div class="browser-window__content">
      <picture>
        <source
          srcset="<%= require('../../asset/img/png/portfolio/affolterarchitekten.webp') %>"
          type="image/webp"
        />
        <source
          srcset="<%= require('../../asset/img/png/portfolio/affolterarchitekten.png') %>"
          type="image/jpeg"
        />
        <img
          src="../../res/affolterarchitekten.png"
          class="article--reference__img"
          width="888"
          height="500"
          alt="Affolter Architekten project heading image"
        />
      </picture>
    </div>
  </div>

  <h1>Affolter Architekten Website</h1>
  <p class="lead">
    <!-- lang:en -->
    Transformed Affolter Architekten's online presence with a new website and custom CMS for
    effortless content management. Designing the future of architecture online.
    <!-- /lang:en -->
    <!-- lang:de -->
    Umgestaltung der Online-Präsenz von Affolter Architekten mit einer neuen Website und einem
    benutzerdefinierten CMS für müheloses Content-Management. Wir gestalten die Zukunft der
    Architektur online.
    <!-- /lang:de -->
  </p>
  <div class="tags">
    <p class="tag">Corporate Website</p>
    <p class="tag">PHP</p>
    <p class="tag">TypeScript</p>
  </div>
  <br />
  <a href="https://www.affolterarchitekten.ch" target="_blank" class="button button--gradient">
    <!-- lang:en -->
    Visit affolterarchitekten.ch
    <!-- /lang:en -->
    <!-- lang:de -->
    affolterarchitekten.ch besuchen
    <!-- /lang:de -->
  </a>
  <br />
  <br />
  <h2>Motivation</h2>
  <p class="max-width-900">
    <!-- lang:en -->
    For Affolter Architekten, a budding architectural firm seeking a straightforward online
    presence, I developed a custom frontend using TypeScript and fundamental web technologies. This
    tailored frontend, crafted with precision, provides a seamless and engaging user experience.
    Leveraging the power of TypeScript enhances the codebase's robustness, ensuring a reliable and
    efficient frontend.
    <!-- /lang:en -->
    <!-- lang:de -->
    Für Affolter Architekten, ein aufstrebendes Architekturbüro, das eine unkomplizierte
    Online-Präsenz anstrebt, habe ich ein maßgeschneidertes Frontend mit TypeScript und
    grundlegenden Webtechnologien entwickelt. Dieses maßgeschneiderte Frontend, das mit Präzision
    erstellt wurde, bietet ein nahtloses und ansprechendes Benutzererlebnis. Der Einsatz von
    TypeScript erhöht die Robustheit der Codebasis und gewährleistet ein zuverlässiges und
    effizientes Frontend.
    <!-- /lang:de -->
  </p>
  <p class="max-width-900">
    <!-- lang:en -->
    Complementing this, I created a bespoke Content Management System (CMS) in PHP to empower
    Affolter Architekten with the ability to effortlessly update and manage their website content.
    This custom CMS, tailored to their specific needs, allows for easy additions and modifications
    to showcase their projects, services, and team. The integration of this PHP-based CMS ensures
    that the architects can maintain an up-to-date and visually compelling single-page website,
    perfectly reflecting the essence of their company.
    <!-- /lang:en -->
    <!-- lang:de -->
    Ergänzend dazu habe ich ein maßgeschneidertes Content Management System (CMS) in PHP entwickelt,
    um Affolter Architekten die Möglichkeit zu geben, den Inhalt ihrer Website mühelos zu
    aktualisieren und zu verwalten. Dieses maßgeschneiderte CMS, das auf ihre spezifischen
    Bedürfnisse zugeschnitten ist, ermöglicht einfache Ergänzungen und Änderungen, um ihre Projekte,
    Dienstleistungen und ihr Team zu präsentieren. Die Integration dieses PHP-basierten CMS stellt
    sicher, dass die Architekten eine aktuelle und visuell ansprechende Single-Page-Website
    unterhalten können, die das Wesen ihres Unternehmens perfekt widerspiegelt.
    <!-- /lang:de -->
  </p>
  <h2>Tech stack</h2>
  <p class="max-width-900">
    <!-- lang:en -->
    In curating the tech stack for Affolter Architekten's website, I carefully selected a
    combination of TypeScript, HTML, and CSS. TypeScript served as the backbone for the custom
    frontend, contributing dynamic functionalities that enhance the overall user experience.
    Meanwhile, the judicious use of HTML and CSS provided the structural foundation and aesthetic
    styling, ensuring a visually engaging and cohesive design that resonates with the architectural
    firm's ethos.
    <!-- /lang:en -->
    <!-- lang:de -->
    Bei der Zusammenstellung des Tech-Stacks für die Website von Affolter Architekten habe ich
    sorgfältig eine Kombination aus TypeScript, HTML und CSS ausgewählt. TypeScript diente als
    Rückgrat für das benutzerdefinierte Frontend und steuerte dynamische Funktionen bei, die das
    gesamte Benutzererlebnis verbessern. Der umsichtige Einsatz von HTML und CSS bildete die
    strukturelle Grundlage und das ästhetische Styling und sorgte für ein visuell ansprechendes und
    kohärentes Design, das mit dem Ethos des Architekturbüros übereinstimmt.
    <!-- /lang:de -->
  </p>
  <p class="max-width-900">
    <!-- lang:en -->
    Complementing this frontend synergy, I implemented a robust PHP-based Content Management System
    (CMS). This choice in the backend technology empowers Affolter Architekten with an intuitive
    platform for effortless content updates. The harmonious integration of TypeScript, HTML, CSS,
    and PHP not only prioritizes functionality and aesthetics but also aligns seamlessly with the
    firm's objective of maintaining a modern, visually appealing, and user-friendly online presence.
    <!-- /lang:en -->
    <!-- lang:de -->
    Ergänzend zu dieser Frontend-Synergie habe ich ein robustes PHP-basiertes Content Management
    System (CMS) implementiert. Diese Wahl der Backend-Technologie ermöglicht Affolter Architekten
    eine intuitive Plattform für mühelose Inhaltsaktualisierungen. Die harmonische Integration von
    TypeScript, HTML, CSS und PHP legt nicht nur Wert auf Funktionalität und Ästhetik, sondern fügt
    sich auch nahtlos in das Ziel des Unternehmens ein, eine moderne, optisch ansprechende und
    benutzerfreundliche Online-Präsenz zu erhalten.
    <!-- /lang:de -->
  </p>
</article>
