<article class="article article--standalone article--reference">
  <div class="browser-window">
    <div class="browser-window__top">
      <span class="browser-window__top__dot"></span>
      <span class="browser-window__top__dot"></span>
      <span class="browser-window__top__dot"></span>
    </div>
    <div class="browser-window__content">
      <picture>
        <source
          srcset="<%= require('../../asset/img/png/portfolio/datapot.webp') %>"
          type="image/webp"
        />
        <source
          srcset="<%= require('../../asset/img/png/portfolio/datapot.png') %>"
          type="image/jpeg"
        />
        <img
          src="../../res/datapot.png"
          class="article--reference__img"
          width="888"
          height="500"
          alt="Datapot CRM project heading image"
        />
      </picture>
    </div>
  </div>
  <h1>Datapot CRM</h1>
  <p class="lead">
    A tailor-made CRM system which supports creation, modification and deletion of the data types
    Person, Company and Christmascards and of many master data types like Salutation, Category and
    Language. Data can be connected among one another and is processed to be exported to Office 365.
  </p>
  <div class="tags">
    <p class="tag">Management Platform</p>
    <p class="tag">Angular</p>
    <p class="tag">TypeScript</p>
    <p class="tag">REST</p>
    <p class="tag">Node.js</p>
    <p class="tag">MikroORM</p>
    <p class="tag">SQLite</p>
  </div>
  <h2>Motivation</h2>
  <p class="max-width-900">
    Transitioning from a cumbersome Excel sheet to a tailor-made CRM system marks a significant
    upgrade for the client, streamlining contact and company data management. The Excel sheet,
    previously serving as their primary tool, necessitated regular imports into Outlook for
    synchronization with Office 365 and, subsequently, their smartphones. Recognizing the need for a
    more efficient solution, I developed a custom CRM system leveraging web technologies.
  </p>
  <p class="max-width-900">
    The new CRM system simplifies tasks that were previously labor-intensive. Creating, modifying,
    and managing contacts and company data is now a breeze, eliminating the manual efforts required
    in the Excel era. Automation plays a key role, seamlessly exporting data directly into Office
    365. This not only saves time but ensures real-time accessibility across devices, eliminating
    the need for manual imports and synchronization rituals. The transition to this tailored CRM
    system signifies a leap forward in efficiency, offering a user-friendly interface and, most
    importantly, freeing up valuable time for more strategic business pursuits.
  </p>
  <h2>Tech stack</h2>

  <p class="max-width-900">
    The tech stack of our CRM system is robust and modern, combining Node.js and TypeScript on the
    backend for scalable server-side development. MikroORM serves as the Object-Relational Mapping
    (ORM) tool, streamlining communication with the SQLite database. This lightweight and embedded
    database solution offers efficient data management. REST APIs facilitate seamless communication
    between the backend and the Angular-powered frontend, providing a modular and expressive
    framework for dynamic user interfaces. The synergy of Node.js, TypeScript, MikroORM, SQLite,
    REST APIs, and Angular ensures a well-integrated and efficient system, poised to deliver a
    stellar user experience in managing relationships and data.
  </p>
</article>
