<article class="article article--standalone article--reference">
  <div class="smartphone-window">
    <div class="smartphone-window__content">
      <picture>
        <source
          srcset="<%= require('../../asset/img/png/portfolio/entry-app.webp') %>"
          type="image/webp"
        />
        <source
          srcset="<%= require('../../asset/img/png/portfolio/entry-app.png') %>"
          type="image/jpeg"
        />
        <img
          src="../../res/entry-app.png"
          class="article--reference__img"
          width="284"
          height="500"
          alt="Eventfrog Entry App project heading image"
        />
      </picture>
    </div>
    <div class="smartphone-window__bottom">
      <span class="smartphone-window__bottom__dot"></span>
    </div>
  </div>

  <h1>Eventfrog Entry App</h1>
  <p class="lead">
    Elevate event admission control with Eventfrog's new Entry App: Powered by Ionic, TypeScript,
    and Ngrx, delivering seamless entry experiences on any device.
  </p>
  <div class="tags">
    <p class="tag">Mobile App</p>
    <p class="tag">Angular</p>
    <p class="tag">Ionic Framework</p>
    <p class="tag">TypeScript</p>
  </div>
  <br /><br />
  <a
    href="https://eventfrog.ch/en/organise/entry.html"
    target="_blank"
    class="button button--gradient"
  >
    Download the Eventfrog Entry App
  </a>
  <br />
  <h2>Motivation</h2>
  <p class="max-width-900">
    The decision to rebuild the Eventfrog ticket admission control app from Ionic 1 to the Ionic
    Framework with TypeScript and Ngrx as state management stems from a strategic initiative to
    modernize and optimize the app's functionality. The shift to the Ionic Framework ensures a more
    efficient and responsive cross-platform experience, addressing the evolving demands of event
    admission control. TypeScript's static typing adds a layer of robustness to the codebase,
    enhancing maintainability and minimizing errors. Additionally, incorporating Ngrx for state
    management provides a structured and scalable architecture, essential for managing the
    complexity of ticket control operations. This rebuilding effort aligns with Eventfrog's
    commitment to delivering cutting-edge solutions, ensuring seamless and reliable admission
    control at events.
  </p>
  <p class="max-width-900">
    The revamped Eventfrog ticket admission control app introduces innovative features, such as
    offline admission control and device synchronization, catering to the practical needs of event
    venues. The offline functionality allows for uninterrupted admission control even in areas with
    limited connectivity, ensuring a seamless experience for both staff and attendees. The
    synchronization feature enables multiple devices to work in harmony at the same event venue,
    enhancing efficiency and coordination among the admission control team. This upgraded app not
    only represents a technological leap but also emphasizes Eventfrog's dedication to providing
    adaptable and feature-rich solutions that streamline event operations and elevate the overall
    event experience.
  </p>
  <h2>Tech stack</h2>

  <p class="max-width-900">
    The Eventfrog Entry App utilizes a powerful tech stack: Ionic Framework with Capacitor,
    TypeScript, and Ngrx for state management. This combination ensures a seamless cross-platform
    experience, leveraging Capacitor for native device features. TypeScript enhances code quality,
    while Ngrx provides a structured architecture for efficient data flow. This tech stack
    underscores Eventfrog's commitment to a modern, reliable, and feature-rich entry app for
    streamlined event operations.
  </p>
</article>
