<article class="article article--standalone article--reference">
  <div class="smartphone-window">
    <div class="smartphone-window__content">
      <picture>
        <source
          srcset="<%= require('../../asset/img/png/portfolio/efrg-app.webp') %>"
          type="image/webp"
        />
        <source
          srcset="<%= require('../../asset/img/png/portfolio/efrg-app.png') %>"
          type="image/jpeg"
        />
        <img
          src="../../res/efrg-app.png"
          class="article--reference__img"
          width="284"
          height="500"
          alt="Eventfrog App project heading image"
        />
      </picture>
    </div>
    <div class="smartphone-window__bottom">
      <span class="smartphone-window__bottom__dot"></span>
    </div>
  </div>

  <h1>Eventfrog App</h1>
  <p class="lead">
    <!-- lang:en -->
    Transforming the Eventfrog ticket buyer app for an unparalleled user experience. Revamped and
    updated to embrace cutting-edge technology for seamless event discovery and ticket purchasing.
    <!-- /lang:en -->
    <!-- lang:de -->
    Umgestaltung der Eventfrog-Ticketkauf-App für ein unvergleichliches Benutzererlebnis.
    Überarbeitet und aktualisiert, um modernste Technologie für die nahtlose Entdeckung von
    Veranstaltungen und den Kauf von Tickets zu nutzen.
    <!-- /lang:de -->
  </p>
  <div class="tags">
    <p class="tag">Mobile App</p>
    <p class="tag">Angular</p>
    <p class="tag">Ionic Framework</p>
    <p class="tag">TypeScript</p>
  </div>
  <br />
  <a href="https://eventfrog.net/efrg-app.html" target="_blank" class="button button--gradient">
    <!-- lang:en -->
    Download the Eventfrog App
    <!-- /lang:en -->
    <!-- lang:de -->
    Eventfrog App herunterladen
    <!-- /lang:de -->
  </a>
  <br />
  <br />
  <h2>Motivation</h2>
  <p class="max-width-900">
    <!-- lang:en -->
    Motivated by a commitment to user satisfaction, Eventfrog's decision to revamp its customer app
    is driven by a desire to offer a more intuitive and seamless experience. The aim is to address
    user feedback, enhance functionality, and introduce innovative features that align with evolving
    technological standards. This overhaul reflects Eventfrog's dedication to staying at the
    forefront of the ticketing industry, ensuring its app remains a user-friendly and cutting-edge
    platform for event discovery and ticketing.
    <!-- /lang:en -->
    <!-- lang:de -->
    Die Entscheidung von Eventfrog, seine Kunden-App zu überarbeiten, beruht auf dem Wunsch, eine
    intuitivere und nahtlosere Erfahrung zu bieten, und auf dem Engagement für die
    Nutzerzufriedenheit. Das Ziel ist es, auf das Feedback der Nutzer einzugehen, die Funktionalität
    zu verbessern und innovative Funktionen einzuführen, die mit den sich entwickelnden
    technologischen Standards übereinstimmen. Diese Überarbeitung spiegelt das Engagement von
    Eventfrog wider, an der Spitze der Ticketing-Branche zu bleiben und sicherzustellen, dass seine
    App eine benutzerfreundliche und innovative Plattform für die Entdeckung von Veranstaltungen und
    das Ticketing bleibt.
    <!-- /lang:de -->
  </p>
  <p class="max-width-900">
    <!-- lang:en -->
    In parallel, the decision to update the platform's technologies underscores Eventfrog's
    commitment to continuous improvement. By bringing existing technologies to the latest state of
    the art, the platform prioritizes performance, security, and scalability. This strategic move
    not only enhances the reliability of the customer app but also positions Eventfrog as a
    tech-savvy industry leader, poised to adapt to emerging trends and provide users with a modern,
    efficient, and secure ticketing solution.
    <!-- /lang:en -->
    <!-- lang:de -->
    Gleichzeitig unterstreicht die Entscheidung, die Technologien der Plattform zu aktualisieren,
    das Engagement von Eventfrog für eine kontinuierliche Verbesserung. Indem bestehende
    Technologien auf den neuesten Stand der Technik gebracht werden, legt die Plattform den
    Schwerpunkt auf Leistung, Sicherheit und Skalierbarkeit. Dieser strategische Schritt verbessert
    nicht nur die Zuverlässigkeit der Kunden-App, sondern positioniert Eventfrog auch als technisch
    versierten Branchenführer, der in der Lage ist, sich an neue Trends anzupassen und den Nutzern
    eine moderne, effiziente und sichere Ticketing-Lösung zu bieten.
    <!-- /lang:de -->
  </p>
  <h2>Tech stack</h2>
  <p class="max-width-900">
    <!-- lang:en -->
    The Eventfrog app's tech stack is a strategic blend of TypeScript, Ionic Framework, and Ngrx for
    state management. TypeScript, with its static typing, enhances code integrity, making the app
    more robust and maintainable. Leveraging the Ionic Framework ensures a seamless cross-platform
    experience, allowing users on various devices to access events effortlessly. Ngrx, chosen for
    state management, facilitates a predictable and scalable architecture, ensuring efficient data
    flow within the app. This carefully curated tech stack not only prioritizes performance and user
    experience but also reflects Eventfrog's commitment to utilizing modern and proven technologies
    for an innovative and reliable event discovery and ticket purchasing platform.
    <!-- /lang:en -->
    <!-- lang:de -->
    Der Tech-Stack der Eventfrog-App ist eine strategische Mischung aus TypeScript, Ionic Framework
    und Ngrx für das Statusmanagement. TypeScript mit seiner statischen Typisierung verbessert die
    Code-Integrität und macht die App robuster und wartbar. Die Nutzung des Ionic Frameworks
    gewährleistet eine nahtlose, plattformübergreifende Erfahrung, die es Benutzern auf
    verschiedenen Geräten ermöglicht, mühelos auf Ereignisse zuzugreifen. Ngrx, das für die
    Zustandsverwaltung ausgewählt wurde, ermöglicht eine vorhersehbare und skalierbare Architektur
    und gewährleistet einen effizienten Datenfluss innerhalb der App. Dieser sorgfältig kuratierte
    Tech-Stack legt nicht nur Wert auf Leistung und Benutzererfahrung, sondern spiegelt auch
    Eventfrogs Engagement wider, moderne und bewährte Technologien für eine innovative und
    zuverlässige Plattform zur Entdeckung von Veranstaltungen und zum Kauf von Tickets zu nutzen.
    <!-- /lang:de -->
  </p>
</article>
