<article class="article article--standalone article--reference">
  <div class="smartphone-window">
    <div class="smartphone-window__content">
      <picture>
        <source
          srcset="<%= require('../../asset/img/png/portfolio/entry-app_medium.webp') %>"
          type="image/webp"
        />
        <source
          srcset="<%= require('../../asset/img/png/portfolio/entry-app_medium.png') %>"
          type="image/jpeg"
        />
        <img
          src="../../res/entry-app_medium.png"
          class="article--reference__img"
          width="284"
          height="500"
          alt="Eventfrog Entry App project heading image"
        />
      </picture>
    </div>
    <div class="smartphone-window__bottom">
      <span class="smartphone-window__bottom__dot"></span>
    </div>
  </div>

  <h1>Eventfrog Entry App</h1>
  <p class="lead">
    <!-- lang:en -->
    Elevate event admission control with Eventfrog's new Entry App: Powered by Ionic, TypeScript,
    and Ngrx, delivering seamless entry experiences on any device.
    <!-- /lang:en -->
    <!-- lang:de -->
    Verbessern Sie die Einlasskontrolle für Veranstaltungen mit Eventfrogs neuer Entry App:
    Angetrieben von Ionic, TypeScript und Ngrx, liefert sie nahtlose Eintrittserlebnisse auf jedem
    Gerät.
    <!-- /lang:de -->
  </p>
  <div class="tags">
    <p class="tag">Mobile App</p>
    <p class="tag">Angular</p>
    <p class="tag">Ionic Framework</p>
    <p class="tag">TypeScript</p>
  </div>
  <br />
  <a
    href="https://eventfrog.ch/en/organise/entry.html"
    target="_blank"
    rel="noopener"
    class="button button--gradient"
  >
    <!-- lang:en -->
    Download the Eventfrog Entry App
    <!-- /lang:en -->
    <!-- lang:de -->
    Eventfrog Entry App herunterladen
    <!-- /lang:de -->
  </a>
  <br />
  <br />
  <h2>Motivation</h2>
  <p class="max-width-900">
    <!-- lang:en -->
    The decision to rebuild the Eventfrog ticket admission control app from Ionic 1 to the Ionic
    Framework with TypeScript and Ngrx as state management stems from a strategic initiative to
    modernize and optimize the app's functionality. The shift to the Ionic Framework ensures a more
    efficient and responsive cross-platform experience, addressing the evolving demands of event
    admission control. TypeScript's static typing adds a layer of robustness to the codebase,
    enhancing maintainability and minimizing errors. Additionally, incorporating Ngrx for state
    management provides a structured and scalable architecture, essential for managing the
    complexity of ticket control operations. This rebuilding effort aligns with Eventfrog's
    commitment to delivering cutting-edge solutions, ensuring seamless and reliable admission
    control at events.
    <!-- /lang:en -->
    <!-- lang:de -->
    Die Entscheidung, die Eventfrog-App zur Einlasskontrolle von Ionic 1 auf das Ionic-Framework mit
    TypeScript und Ngrx als Zustandsverwaltung umzustellen, ist das Ergebnis einer strategischen
    Initiative zur Modernisierung und Optimierung der App-Funktionalität. Die Umstellung auf das
    Ionic Framework gewährleistet eine effizientere und reaktionsschnellere plattformübergreifende
    Erfahrung, die den sich entwickelnden Anforderungen der Einlasskontrolle für Veranstaltungen
    gerecht wird. Die statische Typisierung von TypeScript erhöht die Robustheit der Codebasis,
    verbessert die Wartbarkeit und minimiert Fehler. Darüber hinaus bietet die Integration von Ngrx
    für die Zustandsverwaltung eine strukturierte und skalierbare Architektur, die für die
    Bewältigung der Komplexität von Ticketkontrollvorgängen unerlässlich ist. Dieser Umbau steht im
    Einklang mit Eventfrogs Verpflichtung, innovative Lösungen zu liefern, die eine nahtlose und
    zuverlässige Einlasskontrolle bei Veranstaltungen gewährleisten.
    <!-- /lang:de -->
  </p>
  <p class="max-width-900">
    <!-- lang:en -->
    The revamped Eventfrog ticket admission control app introduces innovative features, such as
    offline admission control and device synchronization, catering to the practical needs of event
    venues. The offline functionality allows for uninterrupted admission control even in areas with
    limited connectivity, ensuring a seamless experience for both staff and attendees. The
    synchronization feature enables multiple devices to work in harmony at the same event venue,
    enhancing efficiency and coordination among the admission control team. This upgraded app not
    only represents a technological leap but also emphasizes Eventfrog's dedication to providing
    adaptable and feature-rich solutions that streamline event operations and elevate the overall
    event experience.
    <!-- /lang:en -->
    <!-- lang:de -->
    Die überarbeitete Eventfrog-App für die Einlasskontrolle bietet innovative Funktionen wie
    Offline-Einlasskontrolle und Gerätesynchronisation, die den praktischen Anforderungen von
    Veranstaltungsorten gerecht werden. Die Offline-Funktionalität ermöglicht eine
    unterbrechungsfreie Einlasskontrolle auch in Bereichen mit eingeschränkter Konnektivität, um
    eine nahtlose Erfahrung für Personal und Besucher zu gewährleisten. Die Synchronisationsfunktion
    ermöglicht es, dass mehrere Geräte am selben Veranstaltungsort harmonisch zusammenarbeiten, was
    die Effizienz und Koordination des Einlasskontrollteams verbessert. Diese aktualisierte App
    stellt nicht nur einen technologischen Sprung dar, sondern unterstreicht auch das Engagement von
    Eventfrog, anpassungsfähige und funktionsreiche Lösungen anzubieten, die den
    Veranstaltungsbetrieb rationalisieren und das gesamte Veranstaltungserlebnis verbessern.
    <!-- /lang:de -->
  </p>
  <h2>Tech stack</h2>

  <p class="max-width-900">
    <!-- lang:en -->
    The Eventfrog Entry App utilizes a powerful tech stack: Ionic Framework with Capacitor,
    TypeScript, and Ngrx for state management. This combination ensures a seamless cross-platform
    experience, leveraging Capacitor for native device features. TypeScript enhances code quality,
    while Ngrx provides a structured architecture for efficient data flow. This tech stack
    underscores Eventfrog's commitment to a modern, reliable, and feature-rich entry app for
    streamlined event operations.
    <!-- /lang:en -->
    <!-- lang:de -->
    Die Eventfrog Entry App nutzt einen leistungsstarken Tech-Stack: Ionic Framework mit Capacitor,
    TypeScript und Ngrx für die Zustandsverwaltung. Diese Kombination sorgt für ein nahtloses,
    plattformübergreifendes Erlebnis, wobei Capacitor für native Gerätefunktionen genutzt wird.
    TypeScript verbessert die Codequalität, während Ngrx eine strukturierte Architektur für einen
    effizienten Datenfluss bietet. Dieser Technologie-Stack unterstreicht das Engagement von
    Eventfrog für eine moderne, zuverlässige und funktionsreiche Einstiegs-App für optimierte
    Event-Operationen.
    <!-- /lang:de -->
  </p>
</article>
