<article class="article article--standalone article--reference">
  <div class="smartphone-window">
    <div class="smartphone-window__content">
      <picture>
        <source
          srcset="<%= require('../../asset/img/png/portfolio/efrg-app.webp') %>"
          type="image/webp"
        />
        <source
          srcset="<%= require('../../asset/img/png/portfolio/efrg-app.png') %>"
          type="image/jpeg"
        />
        <img
          src="../../res/efrg-app.png"
          class="article--reference__img"
          width="284"
          height="500"
          alt="Eventfrog App project heading image"
        />
      </picture>
    </div>
    <div class="smartphone-window__bottom">
      <span class="smartphone-window__bottom__dot"></span>
    </div>
  </div>

  <h1>Eventfrog App</h1>
  <p class="lead">
    Transforming the Eventfrog ticket buyer app for an unparalleled user experience. Revamped and
    updated to embrace cutting-edge technology for seamless event discovery and ticket purchasing.
  </p>
  <div class="tags">
    <p class="tag">Mobile App</p>
    <p class="tag">Angular</p>
    <p class="tag">Ionic Framework</p>
    <p class="tag">TypeScript</p>
  </div>
  <br />
  <br />
  <a href="https://eventfrog.net/efrg-app.html" target="_blank" class="button button--gradient">
    Download the Eventfrog App
  </a>
  <br />
  <h2>Motivation</h2>
  <p class="max-width-900">
    Motivated by a commitment to user satisfaction, Eventfrog's decision to revamp its customer app
    is driven by a desire to offer a more intuitive and seamless experience. The aim is to address
    user feedback, enhance functionality, and introduce innovative features that align with evolving
    technological standards. This overhaul reflects Eventfrog's dedication to staying at the
    forefront of the ticketing industry, ensuring its app remains a user-friendly and cutting-edge
    platform for event discovery and ticketing.
  </p>
  <p class="max-width-900">
    In parallel, the decision to update the platform's technologies underscores Eventfrog's
    commitment to continuous improvement. By bringing existing technologies to the latest state of
    the art, the platform prioritizes performance, security, and scalability. This strategic move
    not only enhances the reliability of the customer app but also positions Eventfrog as a
    tech-savvy industry leader, poised to adapt to emerging trends and provide users with a modern,
    efficient, and secure ticketing solution.
  </p>
  <h2>Tech stack</h2>
  <p class="max-width-900">
    The Eventfrog app's tech stack is a strategic blend of TypeScript, Ionic Framework, and Ngrx for
    state management. TypeScript, with its static typing, enhances code integrity, making the app
    more robust and maintainable. Leveraging the Ionic Framework ensures a seamless cross-platform
    experience, allowing users on various devices to access events effortlessly. Ngrx, chosen for
    state management, facilitates a predictable and scalable architecture, ensuring efficient data
    flow within the app. This carefully curated tech stack not only prioritizes performance and user
    experience but also reflects Eventfrog's commitment to utilizing modern and proven technologies
    for an innovative and reliable event discovery and ticket purchasing platform.
  </p>
</article>
