<article class="article article--standalone article--reference">
  <div class="browser-window">
    <div class="browser-window__top">
      <span class="browser-window__top__dot"></span>
      <span class="browser-window__top__dot"></span>
      <span class="browser-window__top__dot"></span>
    </div>
    <div class="browser-window__content">
      <picture>
        <source
          srcset="<%= require('../../asset/img/png/portfolio/genderai.webp') %>"
          type="image/webp"
        />
        <source
          srcset="<%= require('../../asset/img/png/portfolio/genderai.png') %>"
          type="image/jpeg"
        />
        <img
          src="../../res/genderai.png"
          class="article--reference__img"
          width="888"
          height="500"
          alt="GenderAI project heading image"
        />
      </picture>
    </div>
  </div>

  <h1>GenderAI Tool</h1>
  <p class="lead">
    <!-- lang:en -->
    GenderAI: Enhancing communication by classifying names into gender and type, fostering inclusive
    interactions effortlessly.
    <!-- /lang:en -->
    <!-- lang:de -->
    GenderAI: Verbessert die Kommunikation durch die Klassifizierung von Namen nach Geschlecht und
    Typ, um mühelos integrative Interaktionen zu fördern.
    <!-- /lang:de -->
  </p>
  <div class="tags">
    <p class="tag">Web Tool</p>
    <p class="tag">Artificial Intelligence</p>
    <p class="tag">TypeScript</p>
  </div>
  <br />
  <br />
  <a href="https://www.genderai.com" target="_blank" class="button button--gradient">
    <!-- lang:en -->
    Visit genderai.com
    <!-- /lang:en -->
    <!-- lang:de -->
    genderai.com besuchen
    <!-- /lang:de -->
  </a>
  <br />
  <h2>Motivation</h2>
  <p class="max-width-900">
    <!-- lang:en -->
    The inception of GenderAI was born out of a genuine need for more inclusive and respectful
    communication. Faced with the challenge of determining the gender associated with clients' first
    names, the confusion sparked a quest for a solution that would navigate this sensitive aspect of
    communication. To address this, I embarked on the development of a sophisticated neural network
    capable of classifying names not only by gender but also distinguishing between first and last
    names. The motivation was rooted in fostering a more personalized and considerate interaction,
    ensuring that emails and communications could be tailored appropriately, respecting the
    diversity of individuals.
    <!-- /lang:en -->
    <!-- lang:de -->
    Die Gründung von GenderAI entstand aus einem echten Bedürfnis nach einer integrativeren und
    respektvolleren Kommunikation. Angesichts der Herausforderung, das mit den Vornamen der Kunden
    verbundene Geschlecht zu bestimmen, löste die Verwirrung die Suche nach einer Lösung aus, die
    diesen sensiblen Aspekt der Kommunikation bewältigen würde. Deshalb begann ich mit der
    Entwicklung eines ausgeklügelten neuronalen Netzes, das in der Lage ist, Namen nicht nur nach
    Geschlecht zu klassifizieren, sondern auch zwischen Vor- und Nachnamen zu unterscheiden. Die
    Motivation lag darin, eine persönlichere und rücksichtsvollere Interaktion zu fördern und zu
    gewährleisten, dass E-Mails und Mitteilungen angemessen zugeschnitten werden können, um die
    Vielfalt der Menschen zu respektieren.
    <!-- /lang:de -->
  </p>
  <p class="max-width-900">
    <!-- lang:en -->
    Taking this initiative further, I created a user-friendly web tool where individuals could input
    names and receive gender and name type classifications based on the neural network's analysis.
    To sustain the tool's functionality, a credit system was implemented, allowing users to access
    the service with ease. For extended use, a seamless Stripe integration was introduced, enabling
    users to purchase additional credits efficiently. GenderAI, therefore, stands as a testament to
    the power of technology in addressing real-world challenges, promoting respectful communication,
    and providing a valuable service for individuals seeking clarity in gender-neutral addressing.
    <!-- /lang:en -->
    <!-- lang:de -->
    Im Rahmen dieser Initiative habe ich ein benutzerfreundliches Webtool entwickelt, in das die
    Nutzer ihre Namen eingeben und auf der Grundlage der Analyse des neuronalen Netzes eine
    Klassifizierung nach Geschlecht und Namenstyp erhalten können. Um die Funktionalität des Tools
    aufrechtzuerhalten, wurde ein Kreditsystem implementiert, das es den Nutzern ermöglichte, den
    Dienst problemlos in Anspruch zu nehmen. Für eine erweiterte Nutzung wurde eine nahtlose
    Stripe-Integration eingeführt, die es den Nutzern ermöglicht, effizient zusätzliche Credits zu
    erwerben. GenderAI ist somit ein Beweis für die Macht der Technologie bei der Bewältigung realer
    Herausforderungen, der Förderung einer respektvollen Kommunikation und der Bereitstellung eines
    wertvollen Dienstes für Personen, die Klarheit bei der geschlechtsneutralen Ansprache suchen.
    <!-- /lang:de -->
  </p>
  <h2>Tech stack</h2>
  <p class="max-width-900">
    <!-- lang:en -->
    GenderAI's tech stack is a powerful fusion of modern technologies. In the frontend, I leverage
    Angular to deliver a seamless and dynamic user interface. The backend is built on the robust
    foundation of Node.js and Express, providing a scalable and efficient server-side environment
    for handling requests. Rest APIs serve as the communication bridge between the frontend and
    backend, ensuring smooth data flow. The neural network, essential to GenderAI's unique
    functionality, is powered by Synaptic, adding a layer of intelligence to the system. This
    carefully crafted tech stack reflects GenderAI's commitment to cutting-edge solutions, offering
    a reliable and innovative platform for gender and name type classification.
    <!-- /lang:en -->
    <!-- lang:de -->
    Der Tech-Stack von GenderAI ist eine leistungsstarke Verschmelzung moderner Technologien. Im
    Frontend setze ich Angular ein, um eine nahtlose und dynamische Benutzeroberfläche zu schaffen.
    Das Backend basiert auf der robusten Grundlage von Node.js und Express und bietet eine
    skalierbare und effiziente serverseitige Umgebung für die Bearbeitung von Anfragen. Rest-APIs
    dienen als Kommunikationsbrücke zwischen dem Frontend und dem Backend und gewährleisten einen
    reibungslosen Datenfluss. Das neuronale Netzwerk, das für die einzigartige Funktionalität von
    GenderAI unverzichtbar ist, wird von Synaptic betrieben und verleiht dem System eine zusätzliche
    Ebene der Intelligenz. Dieser sorgfältig ausgearbeitete Tech-Stack spiegelt GenderAIs Engagement
    für innovative Lösungen wider und bietet eine zuverlässige und innovative Plattform für die
    Klassifizierung von Geschlecht und Namenstyp.
    <!-- /lang:de -->
  </p>
</article>
