<article class="article article--standalone article--reference">
  <div class="browser-window">
    <div class="browser-window__top">
      <span class="browser-window__top__dot"></span>
      <span class="browser-window__top__dot"></span>
      <span class="browser-window__top__dot"></span>
    </div>
    <div class="browser-window__content">
      <picture>
        <source
          srcset="<%= require('../../asset/img/png/portfolio/genderai.webp') %>"
          type="image/webp"
        />
        <source
          srcset="<%= require('../../asset/img/png/portfolio/genderai.png') %>"
          type="image/jpeg"
        />
        <img
          src="../../res/genderai.png"
          class="article--reference__img"
          width="888"
          height="500"
          alt="GenderAI project heading image"
        />
      </picture>
    </div>
  </div>

  <h1>GenderAI Tool</h1>
  <p class="lead">
    GenderAI: Enhancing communication by classifying names into gender and type, fostering inclusive
    interactions effortlessly.
  </p>
  <div class="tags">
    <p class="tag">Web Tool</p>
    <p class="tag">Artificial Intelligence</p>
    <p class="tag">TypeScript</p>
  </div>
  <br />
  <br />
  <a href="https://www.genderai.com" target="_blank" class="button button--gradient">
    Visit genderai.com
  </a>
  <br />
  <h2>Motivation</h2>
  <p class="max-width-900">
    The inception of GenderAI was born out of a genuine need for more inclusive and respectful
    communication. Faced with the challenge of determining the gender associated with clients' first
    names, the confusion sparked a quest for a solution that would navigate this sensitive aspect of
    communication. To address this, I embarked on the development of a sophisticated neural network
    capable of classifying names not only by gender but also distinguishing between first and last
    names. The motivation was rooted in fostering a more personalized and considerate interaction,
    ensuring that emails and communications could be tailored appropriately, respecting the
    diversity of individuals.
  </p>
  <p class="max-width-900">
    Taking this initiative further, I created a user-friendly web tool where individuals could input
    names and receive gender and name type classifications based on the neural network's analysis.
    To sustain the tool's functionality, a credit system was implemented, allowing users to access
    the service with ease. For extended use, a seamless Stripe integration was introduced, enabling
    users to purchase additional credits efficiently. GenderAI, therefore, stands as a testament to
    the power of technology in addressing real-world challenges, promoting respectful communication,
    and providing a valuable service for individuals seeking clarity in gender-neutral addressing.
  </p>
  <h2>Tech stack</h2>
  <p class="max-width-900">
    GenderAI's tech stack is a powerful fusion of modern technologies. In the frontend, I leverage
    Angular to deliver a seamless and dynamic user interface. The backend is built on the robust
    foundation of Node.js and Express, providing a scalable and efficient server-side environment
    for handling requests. Rest APIs serve as the communication bridge between the frontend and
    backend, ensuring smooth data flow. The neural network, essential to GenderAI's unique
    functionality, is powered by Synaptic, adding a layer of intelligence to the system. This
    carefully crafted tech stack reflects GenderAI's commitment to cutting-edge solutions, offering
    a reliable and innovative platform for gender and name type classification.
  </p>
</article>
