<article class="article article--standalone article--reference">
  <div class="browser-window">
    <div class="browser-window__top">
      <span class="browser-window__top__dot"></span>
      <span class="browser-window__top__dot"></span>
      <span class="browser-window__top__dot"></span>
    </div>
    <div class="browser-window__content">
      <picture>
        <source
          srcset="<%= require('../../asset/img/png/portfolio/mageba_medium.webp') %>"
          type="image/webp"
        />
        <source
          srcset="<%= require('../../asset/img/png/portfolio/mageba_medium.png') %>"
          type="image/jpeg"
        />
        <img
          src="../../res/mageba_medium.png"
          class="article--reference__img"
          width="888"
          height="500"
          alt="Mageba project heading image"
        />
      </picture>
    </div>
  </div>

  <h1>Mageba Website</h1>
  <p class="lead">
    <!-- lang:en -->
    Revitalizing Mageba's website for enhanced user experience and digital trends, showcasing
    innovative solutions, global expertise, and seamless connections. A commitment to excellence in
    infrastructure solutions.
    <!-- /lang:en -->
    <!-- lang:de -->
    Überarbeitung der Mageba-Website im Hinblick auf eine verbesserte Benutzerfreundlichkeit und
    digitale Trends, um innovative Lösungen, globales Know-how und nahtlose Verbindungen zu
    präsentieren. Ein Engagement für hervorragende Infrastrukturlösungen.
    <!-- /lang:de -->
  </p>
  <div class="tags">
    <p class="tag">Corporate Website</p>
    <p class="tag">PHP</p>
    <p class="tag">JavaScript</p>
  </div>
  <br />
  <a
    href="https://www.mageba-group.com"
    target="_blank"
    rel="noopener"
    class="button button--gradient"
  >
    <!-- lang:en -->
    Visit mageba-group.com
    <!-- /lang:en -->
    <!-- lang:de -->
    mageba-group.com besuchen
    <!-- /lang:de -->
  </a>
  <br />
  <br />
  <h2>Motivation</h2>
  <p class="max-width-900">
    <!-- lang:en -->
    Mageba embarked on the journey to renew its website with a commitment to enhancing user
    experience and embracing the latest trends in digital engagement. Recognizing the pivotal role a
    website plays in establishing an online presence, Mageba sought to provide visitors with a more
    intuitive and informative platform. The motivation behind the renewal was to better showcase the
    company's innovative solutions, industry expertise, and global reach, fostering a seamless
    connection with clients, partners, and stakeholders. By revamping the website, Mageba aimed to
    reflect its dedication to excellence, offering a modern and user-friendly interface that aligns
    with the company's position as a leader in infrastructure solutions.
    <!-- /lang:en -->
    <!-- lang:de -->
    Mageba machte sich auf die Reise, um seine Website zu erneuern, mit dem Ziel, die
    Benutzerfreundlichkeit zu verbessern und die neuesten Trends im Bereich des digitalen
    Engagements zu berücksichtigen. Mageba erkannte die zentrale Rolle, die eine Website bei der
    Etablierung einer Online-Präsenz spielt, und wollte den Besuchern eine intuitivere und
    informativere Plattform bieten. Die Motivation hinter der Erneuerung war, die innovativen
    Lösungen, das Branchenwissen und die globale Reichweite des Unternehmens besser zu präsentieren
    und eine nahtlose Verbindung mit Kunden, Partnern und Interessengruppen zu fördern. Mit der
    Neugestaltung der Website wollte Mageba sein Engagement für herausragende Leistungen
    widerspiegeln und eine moderne und benutzerfreundliche Oberfläche bieten, die der Position des
    Unternehmens als führender Anbieter von Infrastrukturlösungen gerecht wird.
    <!-- /lang:de -->
  </p>
</article>
