<article class="article article--standalone article--reference">
  <div class="smartphone-window">
    <div class="smartphone-window__content">
      <picture>
        <source
          srcset="<%= require('../../asset/img/png/portfolio/rsz_medium.webp') %>"
          type="image/webp"
        />
        <source
          srcset="<%= require('../../asset/img/png/portfolio/rsz_medium.png') %>"
          type="image/jpeg"
        />
        <img
          src="../../res/rsz_medium.png"
          class="article--reference__img"
          width="284"
          height="500"
          alt="Race Sim Zone App project heading image"
        />
      </picture>
    </div>
    <div class="smartphone-window__bottom">
      <span class="smartphone-window__bottom__dot"></span>
    </div>
  </div>

  <h1>Race Sim Zone App</h1>
  <p class="lead">
    <!-- lang:en -->
    Race Sim Zone Visitor App: The communication hub for sim racing event updates and easy simulator
    reservations, bringing the clients racing experience to the next level.
    <!-- /lang:en -->
    <!-- lang:de -->
    Race Sim Zone Visitor App: Der Kommunikationsknotenpunkt für Aktualisierungen von
    Sim-Racing-Events und einfache Simulator Reservierungen, die das Rennerlebnis der Kunden auf die
    nächste Stufe heben.
    <!-- /lang:de -->
  </p>
  <div class="tags">
    <p class="tag">Mobile App</p>
    <p class="tag">Angular</p>
    <p class="tag">Ionic Framework</p>
    <p class="tag">TypeScript</p>
  </div>
  <br />
  <p>
    <a
      href="https://play.google.com/store/apps/details?id=ch.racesimzone.app"
      target="_blank"
      rel="noopener"
      class="button button--gradient"
    >
      <!-- lang:en -->
      Download for Android
      <!-- /lang:en -->
      <!-- lang:de -->
      Für Android herunterladen
      <!-- /lang:de --></a
    >&nbsp;&nbsp;
    <!-- lang:en -->
    or
    <!-- /lang:en -->
    <!-- lang:de -->
    oder
    <!-- /lang:de -->
    &nbsp;&nbsp;<a
      href="https://apps.apple.com/ch/app/race-sim-zone/id1661863970"
      target="_blank"
      rel="noopener"
      class="button button--gradient"
    >
      <!-- lang:en -->
      Download for iOS
      <!-- /lang:en -->
      <!-- lang:de -->
      Für iOS herunterladen
      <!-- /lang:de -->
    </a>
  </p>
  <br />
  <br />
  <h2>Motivation</h2>
  <p class="max-width-900">
    <!-- lang:en -->
    The Race Sim Zone app emerged from a passion for immersive racing experiences. Fueled by the
    desire to create a seamless connection between enthusiasts and cutting-edge simulator
    technology, the app became a reality. The motivation was to provide a user-friendly platform
    offering event insights, communication channels, and the convenience of reserving simulators.
    Inspired by the thrill of the race, the app reflects a commitment to transforming the way
    enthusiasts engage with the racing community, making every simulation a memorable and accessible
    experience.
    <!-- /lang:en -->
    <!-- lang:de -->
    Die Race Sim Zone App entstand aus der Leidenschaft für immersive Rennerlebnisse. Angetrieben
    von dem Wunsch, eine nahtlose Verbindung zwischen Enthusiasten und modernster
    Simulatortechnologie zu schaffen, wurde die App zur Realität. Die Motivation bestand darin, eine
    benutzerfreundliche Plattform zu schaffen, die Einblicke in die Veranstaltung,
    Kommunikationskanäle und die Möglichkeit bietet, Simulatoren zu reservieren. Inspiriert vom
    Nervenkitzel des Rennens, spiegelt die App das Engagement wider, die Art und Weise, wie
    Enthusiasten mit der Rennsport-Community in Kontakt treten, zu verändern und jede Simulation zu
    einem denkwürdigen und zugänglichen Erlebnis zu machen.
    <!-- /lang:de -->
  </p>
  <h2>Tech stack</h2>
  <p class="max-width-900">
    <!-- lang:en -->
    The Race Sim Zone app is powered by a robust tech stack that seamlessly blends Ionic Framework
    and TypeScript in the frontend. Leveraging the capabilities of Ionic ensures a responsive,
    cross-platform user interface, while TypeScript contributes to code quality and maintainability,
    enhancing the reliability of the frontend development. In the backend, the Race Sim Zone app
    relies on the versatility of Strapi. As a powerful content management system, Strapi streamlines
    data management, providing flexibility and efficiency in handling the app's backend operations.
    <!-- /lang:en -->
    <!-- lang:de -->
    Die Race Sim Zone-App wird von einem robusten Tech-Stack angetrieben, der Ionic Framework und
    TypeScript im Frontend nahtlos miteinander verbindet. Die Nutzung der Fähigkeiten von Ionic
    gewährleistet eine reaktionsfähige, plattformübergreifende Benutzeroberfläche, während
    TypeScript zur Codequalität und Wartungsfreundlichkeit beiträgt und die Zuverlässigkeit der
    Frontend-Entwicklung erhöht. Im Backend verlässt sich die Race Sim Zone-App auf die
    Vielseitigkeit von Strapi. Als leistungsfähiges Content-Management-System rationalisiert Strapi
    die Datenverwaltung und sorgt für Flexibilität und Effizienz bei der Handhabung der
    Backend-Vorgänge der App.
    <!-- /lang:de -->
  </p>
  <p class="max-width-900">
    <!-- lang:en -->
    The fusion of Ionic Framework and TypeScript in the frontend with the robust capabilities of
    Strapi in the backend forms a harmonious tech stack, embodying the commitment to delivering a
    cutting-edge racing app that not only meets but exceeds the expectations of users seeking an
    engaging and feature-rich racing simulation experience.
    <!-- /lang:en -->
    <!-- lang:de -->
    Die Verschmelzung von Ionic Framework und TypeScript im Frontend mit den robusten Fähigkeiten
    von Strapi im Backend bildet einen harmonischen Tech-Stack, der das Engagement verkörpert, eine
    hochmoderne Rennsport-App zu liefern, die die Erwartungen der Nutzer, die eine fesselnde und
    funktionsreiche Rennsimulationserfahrung suchen, nicht nur erfüllt, sondern übertrifft.
    <!-- /lang:de -->
  </p>
</article>
